<template>
	<div>
      <section class="hla-hero">

         <div class="container-fluid hla-hero--img">
            <div class="row">
               <div class="col-md-12 p-0">
                  <img src="static/img/hero_bgr.png" width="100%">
               </div>
            </div>
         </div>

         <div class="container-fluid hla-hero--text">
            <div class="row">
               <div class="col-md-12 hero-text--container">
                  <h1 class="hero-title">Compare <strong>Home Loans</strong> & Save!</h1>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 hero-button--container">
                  <ul class="d-flex flex-wrap justify-content-center hero-button--list">
                     <li class="hero-button--list-box">
                        <router-link to="/purchase/step2">
                           <div class="hero-list">
                              <div class="hero-list--img">
                                 <img src="static/img/hero_icon_house.png" class="icon-white d-none d-md-block d-lg-block">
                                 <img src="static/img/hero_icon_house_green.png" class="icon-green d-lg-none d-md-none d-block d-sm-none">
                              </div>
                              <div class="hero-list--text">
                                 <p><strong>Purchase</strong> a home or move</p>
                              </div>
                           </div>
                        </router-link>
                     </li>
                     <li class="hero-button--list-box">
                        <router-link to="/purchase/step2">
                           <div class="hero-list">
                              <div class="hero-list--img">
                                 <img src="static/img/hero_icon_presentation.png" class="icon-white d-none d-md-block d-lg-block">
                                 <img src="static/img/hero_icon_presentation_green.png" class="icon-green d-lg-none d-md-none d-block d-sm-none">
                              </div>
                              <div class="hero-list--text">
                                 <p><strong>Refinance</strong> or renovate</p>
                              </div>
                           </div>
                        </router-link>
                     </li>
                  </ul>
               </div>
            </div>
         </div>

      </section>

      <section class="hla-powered">

         <div class="container">
            <div class="row">

               <div class="col-md-6 px-sm-3 pl-0 pr-5 powered--first-column">
                  <div class="first-column--heading mb-4">
                     <h2 class="section-title">Powered By</h2>
                     <img src="static/img/e_choice_logo.png">
                  </div>
                  <p class="section-text mb-5">eChoice is one of Australia’s leading and award winning mortgage broking groups. Their aim is to provide Australians expert advice and superior service using a unique combination of people and technology.</p>

                  <ul class="list-unstyled checkmark--list mb-5">
                     <li class="media">
                        <i class="green-checkmarks icon ion-md-checkmark mr-3"></i>
                        <div class="media-body">
                           <h5>Over 15 years experience</h5>
                        </div>
                     </li>
                     <li class="media my-4">
                        <i class="green-checkmarks icon ion-md-checkmark mr-3"></i>
                        <div class="media-body">
                           <h5>They’ve helped more than 50,000 Australians find the right home loan</h5>
                        </div>
                     </li>
                     <li class="media">
                        <i class="green-checkmarks icon ion-md-checkmark mr-3"></i>
                        <div class="media-body">
                           <h5>National network of fully accredited mortgage brokers</h5>
                        </div>
                     </li>
                  </ul>

                  <img class="full-width" src="static/img/powered_logo.png">
               </div>

               <div class="col-md-6 px-sm-3 pl-5 pr-0 powered--second-column">
                  <h2 class="section-title mb-4">Compare 25+ Lenders</h2>
                  <img src="static/img/lender_logo.png" class="mb-4" width="100%">
                  <hr />

                  <ul class="list-unstyled powered--list mt-4">
                     <li class="media">
                        <img class="mr-3" src="static/img/home_loan_logo.png">
                        <div class="media-body">
                           <h4><strong>Home Loan Assessment</strong> Over 25 Lenders & 100’s of Loans</h4>
                        </div>
                     </li>
                     <li class="media my-4">
                        <img class="mr-3" src="static/img/property_report.png">
                        <div class="media-body">
                           <h4><strong>Property Report</strong> <br />Valued At $39.50</h4>
                        </div>
                     </li>
                  </ul>
               </div>

            </div>
         </div>

      </section>

      <section class="hla-affordable">

         <div class="container-fluid">
            <div class="row pr-5">
               <div class="col-md-6 affordable--first-column pl-0">
                  <img src="static/img/affordable_img.png" width="100%">
               </div>
               <div class="col-md-6 affordable--second-column pt-5 pr-md-5 pr-sm-0">
                  <h2 class="section-title mb-4">Affordable Rate</h2>
                  <p class="section-text">Find an affordable home loan rate with our free rate report service, Simply complete your details in the home loan report tool above, and you’ll find out:</p>

                  <div class="row mt-5 mt-md-5 mt-sm-3">
                     <div class="col-md-6">
                        <ul class="list-unstyled checkmark--list mb-5 mb-sm-3">
                           <li class="media">
                              <i class="green-checkmarks icon ion-md-checkmark mr-3"></i>
                              <div class="media-body">
                                 <h5>Your borrowing power</h5>
                              </div>
                           </li>
                           <li class="media my-4 my-md-4 my-sm-2">
                              <i class="green-checkmarks icon ion-md-checkmark mr-3"></i>
                              <div class="media-body">
                                 <h5>Your Interest & Comparison Rate</h5>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <div class="col-md-6">
                        <ul class="list-unstyled checkmark--list mb-5 mb-sm-3">
                           <li class="media">
                              <i class="green-checkmarks icon ion-md-checkmark mr-3"></i>
                              <div class="media-body">
                                 <h5>Number of Qualified Lenders</h5>
                              </div>
                           </li>
                           <li class="media my-4 my-md-4 my-sm-2">
                              <i class="green-checkmarks icon ion-md-checkmark mr-3"></i>
                              <div class="media-body">
                                 <h5>Your Loan Repayment amount</h5>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </section>

      <section class="hla-review">

         <div class="container">
            <div class="row">

               <div class="col-md-6 review--first-column py-3 px-sm-3 pl-0 pr-5">
                  <h2 class="section-title mb-4">Customer Review</h2>
                  <div class="list-unstyled rating--list mb-4">
                     <div class="media">
                        <div class="media-rating">
                           <img src="static/img/green_circle.png">
                           <span>4.9</span>
                        </div>
                        <div class="media-body">
                           <ul class="list-unstyled star-rating">
                              <li><i class="icon ion-md-star star-yellow"></i></li>
                              <li><i class="icon ion-md-star star-yellow"></i></li>
                              <li><i class="icon ion-md-star star-yellow"></i></li>
                              <li><i class="icon ion-md-star star-yellow"></i></li>
                              <li><i class="icon ion-md-star star-yellow"></i></li>
                           </ul>
                           <span>Out of 5</span>
                        </div>
                     </div>
                  </div>
                  <p class="section-text">Over 95% of our customers recommend us on Product Review Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id malesuada tortor.</p>
               </div>

               <div class="col-md-6 review--second-column py-3 px-sm-3 pl-5 pr-0">
                  <div class="card hla-card">
                     <div class="review-card--block">
                        <h4 class="review-card--title">Smooth process</h4>
                        <ul class="list-unstyled star-rating star-rating-sm">
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                        </ul>
                        <span>by Jeff on 8-4-2017</span>
                        <p class="review-card--text">Jarryd was instrumental in making sure everything ran smoothly for us. He was readily available to answer any questions we asked. Was a pleasure to...</p>
                     </div>
                     <div class="review-card--block">
                        <h4 class="review-card--title">Been great for us!</h4>
                        <ul class="list-unstyled star-rating star-rating-sm">
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                        </ul>
                        <span>by Jeff on 8-4-2017</span>
                        <p class="review-card--text">Kristy was very responsive & professional. She was able to describe the product extremely well & clarified willingly when we didn't quite get it! W...</p>
                     </div>
                     <div class="review-card--block">
                        <h4 class="review-card--title">Easy transition</h4>
                        <ul class="list-unstyled star-rating star-rating-sm">
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                           <li><i class="icon ion-md-star star-yellow"></i></li>
                        </ul>
                        <span>by Jeff on 8-4-2017</span>
                        <p class="review-card--text">Mina Moussa has been very helpful throughout the loan process. It was easy to get in touch with him either by phone or email when we had questions ...</p>
                     </div>
                     <button type="button" class="btn btn-main-liner btn-lg btn-block">See all reviews</button>
                  </div>
               </div>
            </div>
         </div>

      </section>
   </div>
</template>

<script>
export default {
	name: 'HomeMain'
}
</script>

<style scoped>

</style>
