<template>
  <div>
    <main-header></main-header>
    <transition name="fade" mode="out-in">
      <home-main></home-main>
    </transition>

    <main-footer></main-footer>
  </div>
</template>

<script>
export default {
  name: 'Layout',
  components: {
    'main-header': () => import('../base/MainHeader'),
    'home-main': () => import('./HomeMain'),
    'main-footer': () => import('../base/MainFooter'),
  }
}
</script>

<style scoped>

</style>
