// Hero Section
.hla-hero{
	position: relative;
	.hla-hero--img{

	}
	.hla-hero--text{
		position: absolute;
		width: 100%;
		top: 15%;
		left: 0;
		margin: 0 auto;
		text-align: center;
		.hero-text--container{
			.hero-title{
				font-family: 'Proxima Nova';
				font-weight: 300;
				color: $white;
				strong{
					font-style: italic;
					font-weight: 600;
				}
			}
		}
		.hero-button--container{
			padding-top: 1rem;
			.hero-button--list{
				.hero-button--list-box{
					padding: 1rem;
					a{
						.hero-list{
							.hero-list--img{
								background: $light-tosca;
								border-top-right-radius: 5px;
								border-top-left-radius: 5px;
								height: 120px;
								width: 300px;
								img{
									margin: auto;
									padding-top: 10%;
								}
							}
							.hero-list--text{
								background: $white;
								border-bottom-right-radius: 5px;
								border-bottom-left-radius: 5px;
								padding: 8px 5px;
								p{
									margin-bottom: 0;
									font-size: 1.1rem;
									color: $light-grey-subtext;
								}
							}
						}
						&:hover{
							.hero-list{
								.hero-list--img{
									background: lighten($light-tosca, 5%);
								}
							}
						}
					}
				}
			}
		}
	}
}

// Powered Section
.hla-powered{
	padding: 5rem 0;
	.powered--first-column{
		.first-column--heading{
			.section-title{
				display: inline-block;
			}
			img{
				display: inline-block;
				height: 60px;
				padding: 0 1rem;
				margin-top: -20px;
			}
		}
	}
	.powered--second-column{
		.powered--list{
			.media{
				img{
					width: 140px;
					padding: 5px;
				}
				.media-body{
					padding-top: 35px;
					h4{
						color: $grey;
						font-weight: normal;
						font-size: 1.25rem;
					}
				}
			}
		}
	}
}

// Affordable Section
.hla-affordable{

}

// Customer Review Section
.hla-review{
	padding: 5rem 0;
	.review--first-column{

	}
	.review--second-column{
		.hla-card{
			position: absolute;
			top: -8rem;
			.review-card--block{
				margin-bottom: 1rem;
				.star-rating{
					display: inline-block;
					margin-right: 10px;
					vertical-align: middle;
				}
				span{
					display: inline-block;
					color: $light-grey-subtext;
					font-size: .9rem;
				}
				.review-card--title{
					color: $grey-subheading;
					font-size: 1.2rem;
					margin-bottom: 0;
				}
				.review-card--text{
					font-size: 1rem;
					line-height: 1.5rem;
					color: $grey-text;
				}
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
	.section-title{
		font-size: 1.6rem;
	}
	.section-text{
		font-size: .9rem; 
	}
	.hla-card{
		padding: 1.5rem 2rem;
	}
	.hla-hero{
		position: relative;
		.hla-hero--img{
			height: 560px;
			.row{
				height: inherit;
				img{
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.hla-hero--text{
			position: absolute;
			width: 100%;
			top: 10%;
			left: 0;
			margin: 0 auto;
			text-align: center;
			.hero-text--container{
				.hero-title{
					font-family: 'Proxima Nova';
					font-weight: 300;
					font-size: 1.8rem;
					line-height: normal;
					color: $white;
					strong{
						font-style: italic;
						font-weight: 600;
					}
				}
			}
			.hero-button--container{
				padding-top: 2rem;
				.hero-button--list{
					.hero-button--list-box{
						padding: 0;
						margin-bottom: 1.5rem;
						width: 100%;
						a{
							.hero-list{
								display: table;
								width: 100%;
								.hero-list--img{
									display: table-cell;
									width: 30%;
									background: $white;
									border-top-right-radius: 5px;
									border-bottom-left-radius: 5px;
									border-top-right-radius: 0;
									height: 80px;
									width: 80px;
									img{
										padding-top: 20px;
										width: 40px;
									}
								}
								.hero-list--text{
									display: table-cell;
									width: 70%;
									background: $light-tosca;
									border-top-right-radius: 5px;
									border-bottom-right-radius: 5px;
									border-bottom-left-radius: 0;
									padding: 1rem;
									vertical-align: middle;
									p{
										margin-bottom: 0;
										font-size: .9rem;
										line-height: normal;
										color: $white;
										text-align: left;
									}
								}
							}
							&:hover{
								.hero-list{
									.hero-list--img{
										background: lighten($light-tosca, 5%);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.hla-review{
		padding: 1rem 0 3rem;
		.review--first-column{
			padding: 1rem !important;
			display: table;
			.section-title{
				width: 100%;
			}
			.rating--list{
				.media{
					.media-rating{
						margin-right: 1rem;
						span{
							font-size: 2.2rem;
						}
						img{
							width: 80px;
						}
					}
				}
			}
			.section-text{
				vertical-align: top;
			}
		}
		.review--second-column{
			padding: 1rem !important;
			.hla-card{
				display: block;
				position: relative;
				top: 0;
				margin-bottom: 1rem;
				.star-rating{
					display: inline-block;
					margin-right: 10px;
					vertical-align: middle;
				}
				span{
					display: inline-block;
					color: $light-grey-subtext;
					font-size: .7rem !important;
				}
				.review-card--title{
					font-size: 1rem !important;
				}
				.review-card--text{
					font-size: .8rem !important;
					line-height: 1.2rem !important;
				}
			}
		}
	}
	.hla-powered{
		padding: 3rem 0;
		.powered--first-column{
			padding: 1rem !important;
			.first-column--heading{
				img{
					height: 45px;
					padding: 0;
					float: right;
					margin-top: 0;
				}
			}
			.section-text{
				margin-bottom: 1rem !important;
			}
			.checkmark--list{
				margin-bottom: 1rem !important;
			}
		}
		.powered--second-column{
			padding: 1rem !important;
			.powered--list{
				.media{
					img{
						width: 120px;
					}
					.media-body{
						padding-top: 2rem;
						h4{
							font-size: 1.1rem;
							line-height: normal;
						}
					}
				}
			}
		}
	}
	.hla-affordable{
		.container-fluid{
			.row{
				padding-right: 0 !important;
				.affordable--first-column{
					padding: 0;
				}
				.affordable--second-column{
					padding: 1rem !important;
					border-bottom: 1px solid #ececec;
					.checkmark--list{
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) and (orientation: landscape){
	.section-title{
		font-size: 1.6rem;
	}
	.section-text{
		font-size: .9rem; 
	}
	.hla-card{
		padding: 1.5rem 2rem;
	}
	.hla-hero{
		position: relative;
		.hla-hero--img{
			height: 560px;
			.row{
				height: inherit;
				img{
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.hla-hero--text{
			position: absolute;
			width: 100%;
			top: 10%;
			left: 0;
			margin: 0 auto;
			text-align: center;
			.hero-text--container{
				.hero-title{
					font-family: 'Proxima Nova';
					font-weight: 300;
					font-size: 1.8rem;
					line-height: normal;
					color: $white;
					strong{
						font-style: italic;
						font-weight: 600;
					}
				}
			}
			.hero-button--container{
				padding: 2rem 3rem 0;
				.hero-button--list{
					.hero-button--list-box{
						padding: 0;
						a{
							.hero-list{
								display: table;
								width: 100%;
								.hero-list--img{
									display: table-cell;
									width: 20%;
									background: $white;
									border-top-right-radius: 5px;
									border-bottom-left-radius: 5px;
									border-top-right-radius: 0;
									height: 80px;
									width: 80px;
									img{
										padding-top: 20px;
										width: 40px;
									}
								}
								.hero-list--text{
									display: table-cell;
									width: 80%;
									background: $light-tosca;
									border-top-right-radius: 5px;
									border-bottom-right-radius: 5px;
									border-bottom-left-radius: 0;
									padding: 1rem;
									vertical-align: middle;
									p{
										margin-bottom: 0;
										font-size: 1rem;
										line-height: normal;
										color: $white;
										text-align: left;
									}
								}
							}
							&:hover{
								.hero-list{
									.hero-list--img{
										background: lighten($light-tosca, 5%);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.hla-review{
		padding: 1rem 0 3rem;
		.review--first-column{
			padding: 1rem !important;
			display: table;
			.section-title{
				width: 100%;
			}
			.rating--list{
				.media{
					.media-rating{
						margin-right: 1rem;
						span{
							font-size: 2.2rem;
						}
						img{
							width: 80px;
						}
					}
				}
			}
			.section-text{
				vertical-align: top;
			}
		}
		.review--second-column{
			padding: 1rem !important;
			.hla-card{
				display: block;
				position: relative;
				top: 0;
				margin-bottom: 1rem;
				.star-rating{
					display: inline-block;
					margin-right: 10px;
					vertical-align: middle;
				}
				span{
					display: inline-block;
					color: $light-grey-subtext;
					font-size: .7rem !important;
				}
				.review-card--title{
					font-size: 1rem !important;
				}
				.review-card--text{
					font-size: .8rem !important;
					line-height: 1.2rem !important;
				}
			}
		}
	}
	.hla-powered{
		padding: 3rem 0;
		.powered--first-column{
			padding: 1rem !important;
			.first-column--heading{
				img{
					height: 45px;
					padding: 0;
					float: right;
					margin-top: 0;
				}
			}
			.section-text{
				margin-bottom: 1rem !important;
			}
			.checkmark--list{
				margin-bottom: 1rem !important;
			}
		}
		.powered--second-column{
			padding: 1rem !important;
			.powered--list{
				.media{
					img{
						width: 120px;
					}
					.media-body{
						padding-top: 2rem;
						h4{
							font-size: 1.1rem;
							line-height: normal;
						}
					}
				}
			}
		}
	}
	.hla-affordable{
		.container-fluid{
			.row{
				padding-right: 0 !important;
				.affordable--first-column{
					padding: 0;
				}
				.affordable--second-column{
					padding: 1rem !important;
					border-bottom: 1px solid #ececec;
					.checkmark--list{
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape){
	.hla-hero{
		.hla-hero--text{
			.hero-button--container{
				padding: 1rem 4rem 0;
				.hero-button--list{
					.hero-button--list-box{
						width: 100%;
						margin-bottom: 1rem;
						a{
							.hero-list{
								.hero-list--img{
									.icon-white{
										display: none !important;
									}
									.icon-green{
										display: block !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
	.section-title{
		font-size: 1.8rem;
	}
	.section-text{
		font-size: 1.1rem; 
	}
	.green-checkmarks{
		font-size: 1.1rem;
		padding: 2px 8px;
	}
	.checkmark--list{
		.media{
			.media-body{
				h5{
					font-size: .85rem;
				}
			}
		}
	}
	.hla-hero{
		.hla-hero--img{
			height: 560px;
			.row{
				height: inherit;
				img{
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.hla-hero--text{
			.hero-button--container{
				padding-top: 0;
			}
		}
	}
	.hla-powered{
		.powered--first-column{
			padding-right: 1rem !important;
			.section-text{
				margin-bottom: 1rem !important;
			}
			.checkmark--list{
				margin-bottom: 1rem !important;
			}
		}
		.powered--second-column{
			padding-left: 1rem !important;
			.powered--list{
				.media{
					img{
						width: 120px;
					}
					.media-body{
						padding-top: 2rem;
						h4{
							font-size: 1.1rem;
							line-height: normal;
						}
					}
				}
			}
		}
	}
	.hla-affordable{
		.row.pr-5{
			padding-right: 2px !important;
		}
		.affordable--first-column{
			border-bottom: 1px solid #ececec;
			img{
				object-fit: cover;
				object-position: right;
				width: 100%;
				height: 400px;
			}
		}
		.affordable--second-column{
			padding: 2rem 1rem 0 !important;
			border-bottom: 1px solid #ececec;
			.row{
				margin-top: 2rem !important;
				.checkmark--list{
					.media{
						.green-checkmarks{
							margin-right: .8rem !important;
						}
						.media-body{
							h5{
								font-size: .85rem;
								line-height: 1rem;
							}
						}
					}
				}
			}
		}
	}
	.hla-review{
		padding: 3rem 0;
		.review--first-column{
			flex: 0 0 100%;
			max-width: 100%;
			display: table;
			.section-title{
				width: 100%;
				display: table-caption;
			}
			.rating--list{
				display: table-cell;
			}
			.section-text{
				display: table-cell;
				width: 50%;
				vertical-align: top;
			}
		}
		.review--second-column{
			flex: 0 0 100%;
			max-width: 100%;
			.hla-card{
				display: block;
				position: relative;
				top: 0;
			}
		}
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
	// Hero Section
	.hla-hero{
		.hla-hero--img{
			height: 560px;
			.row{
				height: inherit;
				img{
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.hla-hero--text{
			.hero-button--container{
				padding-top: 0;
			}
		}
	}
	.hla-affordable{
		.affordable--first-column{
			img{
				height: 100%;
				object-fit: cover;
				object-position: center right;
			}
		}
		.affordable--second-column{
			padding: 2rem 1rem !important;
		}
	}
	.hla-review{
		.review--second-column{
			.hla-card{
				top: -7rem !important;
			}
		}
	}
}
// Large devices (1440px and up)
@media (min-width: 1440px){
	.hla-affordable{
		.affordable--first-column{
			img{
				height: 500px;
				object-fit: cover;
				object-position: top center;
			}
		}
		.affordable--second-column{
			padding-right: 15% !important;
		}
	}
}
// Large devices (1440px and up)
@media (min-width: 991.98px) and (orientation: portrait){
	.hla-affordable{
		.affordable--first-column{
			img{
				height: 520px;
				object-fit: cover;
				object-position: top right;
			}
		}
		.affordable--second-column{
		}
	}
}