// Progress bar
.hla-header--progress{
	background: $progress-light;
	height: 18px;
	padding: 3px 0 !important;
	.progress-container{
		width: 100%;
		background-image: linear-gradient(150deg, #f1f1f1 19.23%, #e7e7e7 19.23%, #e7e7e7 50%, #f1f1f1 50%, #f1f1f1 69.23%, #e7e7e7 69.23%, #e7e7e7 100%);
		background-size: .5rem .3rem;
		.progress-bar{
			height: 100%;
			background-image: linear-gradient(to bottom, #ecd971, #ead564, #e8d257, #e6ce49, #e4ca39);
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
		}
	}
}
// validator css
input.is-invalid{
	border-color: rgba(220,53,69,.9) !important;
}
input.is-valid{
	border-color: #25a69d !important;
}
input.is-valid + span.is-invalid{
	display: none;
}
span.is-invalid{
    position: absolute;
    padding: .25rem .5rem;
    bottom: -32px;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(220,53,69,.9);
    border-radius: .25rem;
}
span.is-valid{
	display: none;
}
// Header form page
.hla-header{
	.hla-header-white{
		position: relative;
		&.header-big{
			.hla-header--img{
				img{
					height: 320px;
				}
			}
		}
		.hla-header--img{
			img{
				height: 240px;
				object-position: bottom;
			}
		}
		.hla-header--text{
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			width: 100%;
			text-align: center;
		}
	}
	.hla-header-main{
		position: relative;
		&.header-big{
			.hla-header--img{
				img{
					height: 320px;
				}
			}
		}
		.hla-header--img{
			img{
				height: 240px;
				object-position: bottom;
			}
		}
		.hla-header--text{
			position: absolute;
			top: 15%;
			left: 0;
			right: 0;
			width: 100%;
			text-align: center;
		}
	}
}

// Form page
.hla-form{
	padding: 4rem 0 8rem;
	position: relative;
	&.form-grey{
		background: $grey-bgr;
	}
	.hla-form--container{
		margin-bottom: 1rem;
		.form-left--side{
			padding: 1rem 3rem 1rem 0;
		}
		.form-right--side{
			padding: 1rem 0 1rem 3rem;
		}
	}
	.hla-form--fullwidth{
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		background: url("/static/img/hero_bgr.png");
		background-size: cover;
		background-position: bottom;
		.content--fullwidth{
			padding: 12% 10%;
			width: fit-content;
			margin: auto;
			h2{
				font-family: 'Proxima Nova';
				font-weight: 300;
				color: $white;
				border-bottom: 1px solid $white;
				width: fit-content;
				line-height: 2;
				font-size: 2.3rem;
				strong{
					font-weight: 600;
				}
			}
			.checkmark--list{
				margin-top: 4rem;
				margin-bottom: 0;
				.media{
					margin-bottom: 2.3rem;
					h5{
						color: $white;
						font-size: 1.25rem;
						letter-spacing: 1px;
					}
				}
			}
		}
	}
}

// Review Box
.customer-review{
	padding: 5rem .5rem 1rem;
	.customer-review--wrap{
		border: 1px solid $outline-review-grey;
		border-radius: 8px;
		position: relative;
		padding: 1.3rem 2rem;
		.review-img{
			position: absolute;
			border-radius: 100%;
			top: -3rem;
			left: 2rem;
			width: 100px;
			height: 100px;
		}
		.review-title{
			text-align: right;
			font-size: 1.75rem;
			font-weight: 400;
			color: $grey-heading;
			margin-bottom: 1rem;
		}
		.review-text{
			font-size: 1.05rem;
			color: $grey-heading;
		}
		.review-person{
			margin-top: 1rem;
			font-size: 1.25rem;
			font-weight: 400;
		}
	}
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
	// Header form page
	.hla-header{
		.hla-header-white{
			position: relative;
			&.header-big{
				.hla-header--img{
					img{
						height: 320px;
					}
				}
			}
			.hla-header--img{
				img{
					height: 200px;
					object-position: bottom;
				}
			}
			.hla-header--text{
				top: 10%;
				.header-title{
					font-size: 1.9rem;
					line-height: 1.4;
				}
			}
		}
		.hla-header-main{
			position: relative;
			&.header-big{
				.hla-header--img{
					img{
						height: 320px;
					}
				}
			}
			.hla-header--img{
				img{
					height: 200px;
					object-position: bottom;
				}
			}
			.hla-header--text{
				top: 10%;
				.header-title{
					font-size: 1.9rem;
				}
				.header-subtitle{
					font-size: .9rem;
				}
			}
		}
	}
	.hla-form{
		padding: 3rem 1rem 2rem;
		position: relative;
		border-bottom: 1px solid #dddddd;
		&.form-grey{
			background: $grey-bgr;
		}
		.hla-form--container{
			.form-liner{
				display: none;
			}
			.form-subtitle{
				display: none;
			}
			.form-left--side{
				padding: 0;
				border-right: 0;
			}
			.form-right--side{
				padding: 0;
			}
			&.last{
				.last-container{
					padding: 0;
				}
			}
		}
		.content--fullwidth{
			padding: 12% 5% !important;
			h2{
				line-height: normal !important;
				font-size: 1.9rem !important;
				padding-bottom: 2rem !important;
			}
			.checkmark--list{
				margin-top: 2.5rem !important;
				.media{
					margin-bottom: 1.8rem !important;
					.green-checkmarks{
						font-size: 1.1rem;
						padding: 1px 8px;
						width: 28px;
						height: 28px;
					}
					.media-body{
						h5{
							font-size: .95rem;
							padding-top: 0;
						}
					}
				}
			}
		}
	}
	.customer-review{
		display: none;
	}
	#compareLenderTitle, #compareLenderImg{
		display: none;
	}
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) and (orientation: landscape){
	.hla-header{
		.hla-header-white{
			position: relative;
			&.header-big{
				.hla-header--img{
					img{
						height: 190px;
					}
				}
			}
			.hla-header--img{
				img{
					height: 150px;
					object-position: bottom;
				}
			}
			.hla-header--text{
				top: 10%;
				.header-title{
					font-size: 1.9rem;
					line-height: 1.4;
				}
			}
		}
		.hla-header-main{
			position: relative;
			&.header-big{
				.hla-header--img{
					img{
						height: 190px;
					}
				}
			}
			.hla-header--img{
				img{
					height: 150px;
					object-position: bottom;
				}
			}
			.hla-header--text{
				top: 10%;
				.header-title{
					font-size: 1.9rem;
				}
				.header-subtitle{
					font-size: .9rem;
				}
			}
		}
	}
	.hla-form{
		padding: 3rem 1rem 2rem;
		position: relative;
		border-bottom: 1px solid #dddddd;
		&.form-grey{
			background: $grey-bgr;
		}
		.hla-form--container{
			.form-liner{
				display: none;
			}
			.form-subtitle{
				display: none;
			}
			.form-left--side{
				padding: 0;
				border-right: 0;
			}
			.form-right--side{
				padding: 0;
			}
			&.last{
				.last-container{
					padding: 0;
				}
			}
		}
		.content--fullwidth{
			padding: 8% 10% !important;
			h2{
				line-height: normal !important;
				font-size: 1.9rem !important;
				padding-bottom: 1rem !important;
			}
			.checkmark--list{
				margin-top: 1.5rem !important;
				.media{
					margin-bottom: 1.2rem !important;
					.green-checkmarks{
						font-size: 1.1rem;
						padding: 1px 8px;
						width: 28px;
						height: 28px;
					}
					.media-body{
						h5{
							font-size: .95rem;
							padding-top: 0;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape){

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
	.hla-form{
		padding: 3rem 1rem 2rem;
		position: relative;
		border-bottom: 1px solid #dddddd;
		&.form-grey{
			background: $grey-bgr;
		}
		.hla-form--container{
			.form-liner{
			}
			.form-subtitle{
			}
			.form-left--side{
			}
			.form-right--side{
				padding: 1rem 0 1rem 1rem;
			}
			&.last{
				.last-container{
					padding: 0;
				}
			}
		}
		.content--fullwidth{
			padding: 12% 5% !important;
			h2{
				line-height: normal !important;
				font-size: 1.9rem !important;
				padding-bottom: 2rem !important;
			}
			.checkmark--list{
				margin-top: 2.5rem !important;
				.media{
					margin-bottom: 1.8rem !important;
					.green-checkmarks{
						font-size: 1.1rem;
						padding: 1px 8px;
						width: 28px;
						height: 28px;
					}
					.media-body{
						h5{
							font-size: .95rem;
							padding-top: 0;
						}
					}
				}
			}
		}
	}
	// Review Box
	.customer-review{
		padding: 3rem .5rem 1rem;
		.customer-review--wrap{
			border: 1px solid $outline-review-grey;
			border-radius: 8px;
			position: relative;
			padding: 1rem 1.8rem;
			.review-img{
				position: absolute;
				border-radius: 100%;
				top: -2rem;
				left: 1rem;
				width: 80px;
				height: 80px;
			}
			.review-title{
				text-align: right;
				font-size: 1rem;
				font-weight: 400;
				color: $grey-heading;
				margin-bottom: 1rem;
			}
			.review-text{
				font-size: .8rem;
				color: $grey-heading;
			}
			.review-person{
				margin-top: 1rem;
				font-size: .95rem;
				font-weight: 400;
			}
		}
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
	// Review Box
	.customer-review{
		padding: 3rem .5rem 1rem;
		.customer-review--wrap{
			border: 1px solid $outline-review-grey;
			border-radius: 8px;
			position: relative;
			padding: 1rem 1.8rem;
			.review-img{
				position: absolute;
				border-radius: 100%;
				top: -3rem;
				left: 1rem;
				width: 100px;
				height: 100px;
			}
			.review-title{
				text-align: right;
				font-size: 1.2rem;
				font-weight: 400;
				color: $grey-heading;
				margin-bottom: 1rem;
			}
			.review-text{
				font-size: 1rem;
				color: $grey-heading;
			}
			.review-person{
				margin-top: 1rem;
				font-size: 1.1rem;
				font-weight: 400;
			}
		}
	}
}
// Large devices (1440px and up)
@media (min-width: 1440px){

}
// Large devices (1440px and up)
@media (min-width: 991.98px) and (orientation: portrait){

}