.hla-footer{
	background: $light-grey;
	.footer--link{
		width: 100%;
		margin-bottom: 1.2rem;
		.link--menu{
			li{
				display: inline-block;
				a{
					color: $main;
					font-size: .9rem;
					padding-right: 2rem;
					&:hover{
						color: darken($main, 10%);
					}
				}
			}
		}
	}
	.footer--text{
		margin-bottom: .8rem;
		p{
			color: $light-grey-text;
			font-size: .95rem;
			line-height: 1.6rem;
			&:last-child{
				padding-bottom: 1.8rem;
				border-bottom: 1px solid #eaeaea;
			}
		}
	}
	.footer--info{
		.info--img{
			img{

			}
		}
		.info--text{
			text-align: right;
			p{
				color: $light-grey-heading;
				font-size: .95rem;
				margin-bottom: 0;
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
	.hla-footer{
		background: $light-grey;
		.footer--link{
			margin-bottom: 1.2rem;
			.link--menu{
				text-align: center;
				li{
					display: inline-block;
					a{
						font-size: .8rem;
						padding-right: .5rem;
					}
				}
			}
		}
		.footer--text{
			p{
				color: $light-grey-text;
				font-size: .95rem;
				line-height: 1.6rem;
			}
		}
		.footer--info{
			margin-bottom: 1rem;
			.info--img{
				width: 50%;
				img{
					width:90%;
				}
			}
			.info--text{
				width: 50%;
				p{
					font-size: .65rem;
				}
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape){
	.hla-footer{
		.footer--info{
			margin-bottom: 1rem;
			.info--img{
				width: 40%;
				img{
					width:90%;
				}
			}
			.info--text{
				width: 60%;
				p{
					font-size: .8rem;
				}
			}
		}
	}
}
@media (max-width: 768px) and (orientation: landscape){
	.hla-footer{
		.footer--link{
			.link--menu{
				margin-top: 1rem;
				li{
					a{
						font-size: 1rem;
						margin-right: 1rem;
					}
				}
			}
		}
		.footer--info{
			margin-bottom: 1rem;
			.info--img{
				width: 40%;
				img{
					width:90%;
				}
			}
			.info--text{
				width: 60%;
				p{
					font-size: .8rem;
				}
			}
		}
	}

}