html, body{
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

a{
	color: inherit;
	&:hover, &:focus{
		text-decoration: none !important;
	}
}

input, textarea{
	box-shadow: none !important;
	&:focus{
		box-shadow: none !important;
	}
}

.dropdown-toggle::after {
	display: none;
}

// Global 
.section-title{
	font-size: 2rem;
	color: $grey-heading;
	font-weight: normal;
	width: fit-content;
	margin-bottom: 0;
}
.section-text{
	font-size: 1.25rem;
	color: $grey;
}
.full-width{
	width: 100%;
}
.step{
	display: none;
}
.nonactive{
	display: none;
}
.active{
	display: block;
}
.form-active{
	display: block;
}
.main-link{
	color: $main;
	font-size: 1.2rem;
	text-align: left;
	&:hover{
		color: darken($main, 5%);
	}
	&:hover, &:active, &:visited, &:focus{
		text-decoration: none;
	}
}
// animate
.fadeIn {
	-webkit-animation: fadeIn 1.5s forwards;
	-moz-animation: fadeIn 1.5s forwards;
	-o-animation: fadeIn 1.5s forwards;
	-ms-animation: fadeIn 1.5s forwards;
	animation: fadeIn 1.5s forwards
}
.fadeOut {
	-webkit-animation: fadeOut 1.5s forwards;
	-moz-animation: fadeOut 1.5s forwards;
	-o-animation: fadeOut 1.5s forwards;
	-ms-animation: fadeOut 1.5s forwards;
	animation: fadeOut 1.5s forwards
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0)
	}
	100% {
		opacity: 1;
		-ms-filter: none;
		filter: none
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0)
	}
	100% {
		opacity: 1;
		-ms-filter: none;
		filter: none
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0)
	}
	100% {
		opacity: 1;
		-ms-filter: none;
		filter: none
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0)
	}
	100% {
		opacity: 1;
		-ms-filter: none;
		filter: none
	}
}
@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
		-ms-filter: none;
		filter: none
	}
	100% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0)
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
		-ms-filter: none;
		filter: none
	}
	100% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0)
	}
}

@-o-keyframes fadeOut {
	0% {
		opacity: 1;
		-ms-filter: none;
		filter: none
	}
	100% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0)
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		-ms-filter: none;
		filter: none
	}
	100% {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0)
	}
}
.no-transition * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important
}
// checkmark
.green-checkmarks{
	background: #eff4f7;
	border-radius: 100%;
	color: $main;
	padding: 2px 10px;
	font-size: 1.3rem;
}
.checkmark--list{
	.media{
		.media-body{
			h5{
				font-size: 1.05rem;
				font-weight: normal;
				margin-bottom: 0;
				padding: 5px 0;
			}
		}
	}
}
// rating
.rating--list{
	.media{
		.media-rating{
			position: relative;
			margin-right: 1.5rem;
			img{
				width: 100px;
			}
			span{
				position: absolute;
				top: 15%;
				left: 0;
				right: 0;
				text-align: center;
				font-size: 2.7rem;
				color: $white;
				margin: 0 auto;
			}
		}
		.media-body{
			padding-top: 8px;
		}
	}
}
.star-rating{
	li{
		display: inline-block;
		line-height: normal;
		margin-right: 5px;
		.star-yellow{
			font-size: 2.2rem;
			color: $yellow;
		}
	}
	&.star-rating-sm{
		li{
			margin-right: 0;
			.star-yellow{
				font-size: 1.3rem;
			}
		}
	}
}
// card
.hla-card{
	box-shadow: $shadow-normal;
	border: 0;
	padding: 2.5rem 3rem;
	background: $white;
}
// Input
.input-icon-group{
	width: 100%;
	max-width: 100%;
	margin: 0 auto 1.3rem;
	height: 70px;
	&.has-label{
		height: 115px;
	}
	&.has-label-info{
		height: 140px;
		.form-info{
			font-size: 1rem;
		}
	}
	.input-icon--label{
		font-size: 1.2rem;
		margin-bottom: .8rem;
		color: $grey-form-subtitle;
	}
	.input-icon--wrap{
		width: 100%;
		position: relative;
		padding: 0 0 0 71px;
		float: left;
		height: 70px;
		font-size: 18px;
		margin-bottom: .5rem;
		.input-icon{
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 6px 0 0 6px;
			border: 1px solid $outline-grey;
			border-right: 0;
			width: 71px;
			height: 70px;
			line-height: 70px;
			text-align: center;
			color: #25a69d;
			font-weight: 600;
			font-size: 21px;
			i{
				font-style: normal;
			}
		}
		.input-text{
			width: 100%;
			height: 70px;
			line-height: normal;
			border-radius: 0 6px 6px 0;
			border: 1px solid $outline-grey;
			outline: 0;
			-moz-appearance: textfield;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			font-size: 1.2rem;
			font-weight: 400;
			padding: 23px 20px;
			color: $grey-form-subtitle;
			&.input-dollar{

			}
		}
		.help-link{
			color: $grey-help;
			position: absolute;
			top: 0;
			right: 5px;
			padding: 0;
			z-index: 999;
			&:hover{
				color: darken($grey-help, 10%);
			}
		}
		.input-help{
			font-size: 1.5rem;
		}
	}
}
.multiselect {
	&.input-text{
		padding: 24px 15px 0 !important;
		height: 44px !important;
	}
	.multiselect__tags{
		border: 0;
		padding: 0;
	}
	.multiselect__content-wrapper{
		right: -1px;
		top: 65px;
		width: calc(100% + 2px)!important;
		border-color: #d7d7d7;
	}
	.multiselect__select{
		height: 100%;
	}
	.multiselect__single{
		font-size: 1.2rem;
		font-weight: 400;
		color: #6c6c6c !important;
		padding-left: 0;
	}
	.multiselect__input{
		font-size: 1.2rem;
		font-weight: 400;
		color: #6c6c6c !important;
		padding-left: 0;
		padding-top: 2px;
		background: transparent;
	}
	.multiselect__placeholder{
		font-size: 1.2rem;
		font-weight: 400;
		color: #6c6c6c;
		padding-top: 0;
	}
	.multiselect__spinner{
		top: 20px !important;
		right: 2px !important;
		z-index: 999 !important;
	}
}
.input-phone-group{
	position: relative;
	.phone-fill{
		width: 20%;
		padding: 1rem 1rem 1rem 0;
		.phone-one{
			width: 100%;
			padding: 1rem .8rem;
			text-align: center;
			border-radius: 7px;
			font-size: 1.5rem;
			color: $grey-text;
			border: 1px solid $outline-grey;
			&:focus{
				outline: none;
				border-color: $main;
			}
		}
	}
}
// Tooltip custom
.tooltip{
	.arrow{
		&::before{
			border-top-color: $main !important;
		}
	}
	.tooltip-inner{
		background: $main;
	}
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
	border-bottom-color: $main !important;
}
// Header
.header-title{
	font-family: 'Proxima Nova' !important;
	font-weight: 300;
	text-align: left;
	font-size: 2.8rem;
	line-height: normal;
}
.header-subtitle{
	font-size: 1.3rem;
	font-family: 'Proxima Nova' !important;
	font-weight: 300;
	text-align: left;
	line-height: normal;
}
// Form Input
.form-liner{
	width: 75px;
	border-top: 6px solid $grey-liner;;
	margin: 0 0 20px;
}
.form-title{
	font-size: 1.45rem;
	font-weight: 400;
	color: $grey-form-subtitle;
	line-height: 1.5;
	margin-bottom: 1.5rem;
	&.text-proxima{
		font-family: 'Proxima Nova' !important;
		font-weight: 600;
	}
}
.form-subtitle{
	color: $grey-form-subtitle;
	font-size: 1.1rem;
	&.text-proxima{
		font-family: 'Proxima Nova' !important;
	}
}
.form-info{
	color: $grey-info;
	font-size: 1.1rem;
}
.form-help{
	color: $light-grey-help !important;
	font-size: .9rem;
	.form-link{
		color: $light-grey-help !important;
	}
}
.form-link{
	font-weight: bold;
	&:hover{
		color: darken($light-grey-help, 10%);
	}
}
.br-1{
	border-right: 1px solid $super-light-grey;
}
// Radio Button
.form-radio-wrap{
	.form-radio-option{
		.flex-fill{
			.radio-option{
				visibility: hidden;
				display: none;
			}
			.radio-option-btn{
				padding: 13px 36px;
			}
		}
		.radio-option{
			visibility: hidden;
			display: none;
		}
		.radio-option-btn{
			padding: 20px 36px;
			&:hover{
				cursor: pointer;
			}
			span{
				vertical-align: middle;
			}
			img{
				vertical-align: middle;
			}
		}
	}
}
// Accordion
.hla-accordion{
	.hla-accordion-card{
		border: 1px solid $outline-super-light !important;
		.hla-accordion-card--header{
			background: $white;
			border-bottom-color: $outline-super-light;
			padding: 8px 20px;
			.hla-accordion-button{
				color: $main;
				font-size: 1.2rem;
				text-align: left;
				&:hover{
					color: darken($main, 5%);
				}
				&:hover, &:active, &:visited, &:focus{
					text-decoration: none;
				}
				&.collapsed{
					.hla-accordion-icon{
						.icon-arrow{
							&:before{
								content: "\f3d0";
							}
						}
					}
				}
				&:not(.collapsed){
					.hla-accordion-icon{
						.icon-arrow{
							&:before{
								content: "\f3d8";
							}
						}
					}
				}

				.hla-accordion-icon{
					position: absolute;
					right: 20px;
					top: 13px;
					color: $main;
					.icon-arrow{
						&:before{
							display: inline-block;
							font-family: "Ionicons" !important;
							speak: none;
							font-style: normal;
							font-weight: 400;
							font-variant: normal;
							text-transform: none;
							text-rendering: auto;
							line-height: 1;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
						}
					}
				}
			}
		}
		.hla-accordion-card--body{
			.loan-details--wrap{
				img{
					width: 90px;
					height: 90px;
					object-fit: cover;
				}
				.loan-details--info{
					padding-top: 15px;
					h3{
						color: #777777;
						font-weight: 400;
					}
					h5{
						color: $light-grey-loan;
						font-size: 1.2rem;
						line-height: normal;
						font-weight: 400;
					}
				}
			}
			.hla-loan-result{
				position: relative;
				min-height: 180px;
				color: $light-grey-chart;
				padding: 1rem 1rem 2rem;
				.loan-result--chart{
					position: relative;
					width: 180px;
					height: 180px;
					display: table-cell;
					.inside-content{
						position: absolute;
						z-index: 3;
						width: 100%;
						left: 0;
						top: 45%;
						margin-top: -33px;
						text-align: center;
						line-height: 1.2;
						color: $light-grey-chart;
						&.content-loan{
							margin-top: -23px;
						}
						&.content-borrow{

						}
						.inside-title{
							font-size: 1.05rem;
							font-weight: bold;
							min-height: 40px;
							width: 80%;
							line-height: normal;
							margin: auto;
						}
						.max-loan-round{
							font-size: 1.7rem;
							line-height: 1.8;
							&.loan-borrow{

							}
							&.loan-ammount{

							}
						}
					}
				}
				.loan-result--info{
					padding: 15px 20px;
					.chart-title{
						color: $light-grey-chart;
						font-size: 1.4rem;
						line-height: normal;
						font-weight: bold;
						min-height: 56px;
						&.title-borrow{

						}
						&.title-loan{
							padding-top: 25px;
						}
					}
					.loan-price{
						font-weight: bold;
						font-size: 2rem;
						&.loan-borrow{
							color: $orange;
						}
						&.loan-ammount{
							color: $lightgreen;
						}
					}
					.loan-info{
						color: $light-grey-chart;
						font-size: 1rem;
						line-height: normal;
					}
				}
			}
		}
		.accordion-collapse{

		}
	}
}
// autocomplete
.autocomplete-suggestions {
	text-align: left;
	cursor: default;
	border: 1px solid #ccc;
	border-top: 0;
	background: #fff;
	box-shadow: -1px 1px 3px rgba(0,0,0,.1);
	position: absolute;
	display: none;
	z-index: 9999;
	max-height: 254px;
	overflow: hidden;
	overflow-y: auto;
	box-sizing: border-box;

}
.autocomplete-suggestion { 
	position: relative;
	padding: .4rem .6em;
	line-height: 23px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.02em;
	color: #333;
	&:hover{
		cursor: pointer;
	}
}
.autocomplete-suggestion b { 
	font-weight: normal;
	color: $main;
}
.autocomplete-suggestion.selected { 
	background: #f0f0f0;
}
// Modal
.hla-modal-verification{
	.modal-dialog{
		max-width:540px;
		.modal-content{
			border: 0;
			.modal-header{
				height: 120px;
				background: url("/static/img/hero_bgr.png");
				background-size: cover;
				background-position: bottom;
				padding: 10px 12px;
				border:0;
				.close{
					color: $white;
				}
				.modal-title{
					position: absolute;
					width: 100%;
					color: $white;
					font-size: 1.6rem;
					font-weight: 400;
					text-align: center;
					left: 0;
					top: 10%;
				}
			}
			.modal-body{
				padding: 1.5rem 2.5rem;
				text-align: center;
				p{
					font-size: 1rem;
					font-family: 'Proxima Nova' !important;
					line-height: normal;
					margin-bottom: 1rem;
				}
				.form-verification{
					padding: .5rem 2rem 0;
					.input-icon-group{
						height: 100%;
						.input-icon--wrap{
							margin-bottom: 1.2rem;
						}
					}
				}
			}
		}
	}
}

.form-checkbox{
	padding: 15px 0;
	position: relative;
	width: 100%;
	input[type="checkbox"] {
		visibility: hidden;
		display: none;
	}

	input[type="checkbox"]:checked + .form-checkbox-label .checkbox-label {

	}

	input[type="checkbox"]:checked + .form-checkbox-label .checkbox-label:after {
		opacity: 1;
	}
	.form-checkbox-label{
		& + span.is-invalid{
			left: 35px;
			bottom: 0;
		}
		.checkbox-label-wrap{
			width: 38px;
			display: table-cell;
			.checkbox-label{
				background-color: transparent;
				border: 2px solid $main;
				border-radius: 50%;
				cursor: pointer;
				height: 28px;
				width: 28px;
				margin-right: 10px;
				margin-bottom: 0;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				&:after{
					border: 2px solid #555;
					border-top: none;
					border-right: none;
					content: "";
					height: 10px;
					left: 5px;
					opacity: 0;
					position: absolute;
					top: 0px;
					transform: rotate(-45deg);
					width: 24px;
				}
			}
		}
	}
	.form-checkbox-text{
		display: table-cell;
		vertical-align: middle;
		line-height: 28px;
	}
}

@media (max-width: 575.98px){
	.form-title{
		font-size: 1.3rem;
	}
	.form-info{
		font-size: .8rem;
		line-height: 1.5;
		margin-bottom: 1.3rem;
		.main-link{
			font-size: .9rem;
		}
	}
	.input-icon-group{
		width: 100%;
		max-width: 100%;
		margin: 0 auto 1.3rem;
		height: 60px;
		&.has-label{
			height: 115px;
		}
		&.has-label-info{
			height: 140px;
			.form-info{
				font-size: .8rem;
			}
		}
		.input-icon--label{
			font-size: 1.2rem;
			margin-bottom: .8rem;
			color: $grey-form-subtitle;
		}
		.input-icon--wrap{
			padding: 0 0 0 60px;
			height: 60px;
			.input-icon{
				width: 60px;
				height: 60px;
				line-height: 60px;
				img{
					margin-top: -5px;
					margin-right: -5px;
				}
			}
			.input-text{
				height: 60px;
				font-size: 1rem !important;
				padding: 20px 15px;
			}
		}
	}
	.form-radio-wrap{
		.form-radio-option{
			.flex-fill{
				width: 50%;
				&:first-child{
					padding-left: 0 !important;
				}
				&:last-child{
					padding-right: 0 !important;
				}
				.radio-option{
					visibility: hidden;
					display: none;
				}
				.radio-option-btn{
					padding: 13px 36px;
				}
			}
			.radio-option{
				visibility: hidden;
				display: none;
			}
			.radio-option-btn{
				padding: 20px 36px;
				&:hover{
					cursor: pointer;
				}
				span{
					vertical-align: middle;
				}
				img{
					vertical-align: middle;
				}
			}
		}
	}
	.input-phone-group{
		position: relative;
		.phone-fill{
			width: 25%;
			padding: 1rem .5rem 1rem 0;
			.phone-one{
				width: 100%;
				padding: .5rem 1rem;
				text-align: center;
				border-radius: 7px;
				font-size: 1.5rem;
				color: $grey-text;
				border: 1px solid $outline-grey;
				&:focus{
					outline: none;
					border-color: $main;
				}
			}
		}
	}
	.hla-modal-verification{
		.modal-dialog{
			max-width:540px;
			.modal-content{
				border: 0;
				.modal-header{
					height: 80px;
					background: url("/static/img/hero_bgr.png");
					background-size: cover;
					background-position: bottom;
					padding: 5px 12px;
					border:0;
					.close{
						color: $white;
					}
					.modal-title{
						font-size: 1.1rem;
						top: 8%;
					}
				}
				.modal-body{
					padding: 1.5rem;
					text-align: center;
					p{
						font-size: .8rem;
						font-family: 'Proxima Nova';
						line-height: normal;
						margin-bottom: 1rem;
					}
					.form-verification{
						padding: .5rem 0 0;
						.input-icon-group{
							height: 100%;
							.input-icon--wrap{
								margin-bottom: 1.2rem;
							}
						}
					}
				}
			}
		}
	}
	.hla-loan-result-container{
		padding: 20px 10px 0 !important;
		.col-md-6{
			&:first-child{
				border-bottom: 1px solid #f0f0f0;
			}
			&:last-child{
				padding-top: 20px;
			}
		}
		.hla-loan-result{
			padding: 0 !important;
			min-height: 130px!important;
			.loan-result--chart{
				width: 140px!important;
				height: 130px!important;

				canvas{
					width: 110px !important;
					height: 110px !important;
				}
				.inside-content{
					width: 110px!important;
					top: 60px !important;
					&.content-loan{
						margin-top: -30px !important;
					}
					&.content-borrow{

					}
					.inside-title{
						font-size: .6rem !important;
						font-weight: bold;
						min-height: 25px !important;
						line-height: normal;
						width: 75% !important;
						margin: auto;
					}
					.loan-borrow{
						font-size: 1rem !important;
					}
					.loan-ammount{
						font-size: 1rem !important;
					}
				}
			}
			.loan-result--info{
				padding: 0 0 15px 10px !important;
				.chart-title{
					font-size: .95rem!important;
					min-height: 36px!important;
					margin-bottom: 0;
					&.title-borrow{
					}
					&.title-loan{
						padding-top: 10px !important;
						min-height: 26px!important;
					}
				}
				.loan-price{
					font-size: 1.4rem!important;
					margin-bottom: 0;
					&.loan-borrow{
					}
					&.loan-ammount{
						color: $lightgreen;
					}
				}
				.loan-info{
					font-size: .7rem !important;
				}
			}
		}
		.loan-result-details{
			.col-md-6{
				&:first-child{
					border-bottom: 0;
				}
				&:last-child{
					padding-top: 20px;
				}
			}
			.loan-details--wrap{
				img{
					padding: 10px;
					width: 80px !important;
					height: 80px !important;
					margin-right: 0 !important;
				}
				.loan-details--info{
					padding: 10px !important;
					h5{
						font-size: .9rem !important;
					}
					h3{
						font-size: 1.2rem;
					}
				}
			}
		}
		.loan-disclaimer{
			font-size: .9rem;
			color: #afafaf;
		}
	}
	.hla-accordion{
		margin-bottom: 1.5rem;
		.hla-accordion-card{
			.hla-accordion-card--header{
				padding: 8px 10px;
				.hla-accordion-button{
					font-size: .9rem;
					padding: 5px 0;
				}
				.hla-accordion-icon{
					right: 0px !important;
					top: 7px !important;
				}
			}
			.hla-accordion-card--body{
				padding: 20px 10px !important;
			}
		}
	}
	.multiselect {
		&.input-text{
			padding: 14px 15px 0 !important;
			width: -webkit-fill-available !important;
		}
		.multiselect__tags{
			border: 0;
			padding: 0;
		}
		.multiselect__content-wrapper{
			top: 50px !important;
		}
		.multiselect__select{
			height: 100%;
		}
		.multiselect__single{
			font-size: 1rem !important;
			padding-top: 5px !important;
		}
		.multiselect__input{
			font-size: 1rem !important;
			padding-top: 5px !important;
		}
		.multiselect__placeholder{
			font-size: 1rem !important;
			padding-top: 5px !important;
		}
		.multiselect__content{
			.multiselect__element{
				.multiselect__option{
					span{
						font-size: 1rem !important;
					}
				}
			}
		}
	}
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) and (orientation: landscape){

}
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape){

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
	.hla-loan-result-container{
		padding: 1.25rem;
		.col-md-6{
			&:first-child{
			}
			&:last-child{
			}
		}
		.hla-loan-result{
			padding-bottom: 0 !important;
			min-height: 130px!important;
			.loan-result--chart{
				width: 140px!important;
				height: 130px!important;

				canvas{
					width: 110px !important;
					height: 110px !important;
				}
				.inside-content{
					width: 110px!important;
					top: 60px !important;
					&.content-loan{
						margin-top: -30px !important;
					}
					&.content-borrow{

					}
					.inside-title{
						font-size: .6rem !important;
						font-weight: bold;
						min-height: 25px !important;
						line-height: normal;
						width: 75% !important;
						margin: auto;
					}
					.loan-borrow{
						font-size: 1rem !important;
					}
					.loan-ammount{
						font-size: 1rem !important;
					}
				}
			}
			.loan-result--info{
				padding: 0 0 15px 10px !important;
				.chart-title{
					font-size: .95rem!important;
					min-height: 36px!important;
					margin-bottom: 0;
					&.title-borrow{
					}
					&.title-loan{
						padding-top: 10px !important;
						min-height: 26px!important;
					}
				}
				.loan-price{
					font-size: 1.4rem!important;
					margin-bottom: 0;
					&.loan-borrow{
					}
					&.loan-ammount{
						color: $lightgreen;
					}
				}
				.loan-info{
					font-size: .7rem !important;
				}
			}
		}
		.loan-result-details{

			.loan-details--wrap{
				padding: 1.25rem 1.25rem 0 !important;
				img{
					padding: 10px;
					width: 80px !important;
					height: 80px !important;
					margin-right: 0 !important;
				}
				.loan-details--info{
					padding: 10px !important;
					h5{
						font-size: .9rem !important;
					}
					h3{
						font-size: 1.2rem;
					}
				}
			}
		}
		.loan-disclaimer{
			font-size: .9rem;
			color: #afafaf;
		}
	}
	.input-phone-group{
		position: relative;
		.phone-fill{
			width: 25%;
			padding: 1rem .5rem 1rem 0;
			.phone-one{
				width: 100%;
				padding: .5rem 1rem;
				text-align: center;
				border-radius: 7px;
				font-size: 1.5rem;
				color: $grey-text;
				border: 1px solid $outline-grey;
				&:focus{
					outline: none;
					border-color: $main;
				}
			}
		}
	}
	.input-icon-group{
		width: 100%;
		max-width: 100%;
		margin: 0 auto 1.3rem;
		height: 60px;
		&.has-label{
			height: 115px;
		}
		&.has-label-info{
			height: 140px;
			.form-info{
				font-size: .8rem;
				line-height: 1.4;
			}
		}
		.input-icon--label{
			font-size: 1.2rem;
			margin-bottom: .8rem;
			color: $grey-form-subtitle;
		}
		.input-icon--wrap{
			padding: 0 0 0 60px;
			height: 60px;
			.input-icon{
				width: 60px;
				height: 60px;
				line-height: 60px;
				img{
					margin-top: -5px;
					margin-right: -5px;
				}
			}
			.input-text{
				height: 60px;
			}
		}
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
	.input-icon-group{
		&.has-label-info{
			height: 140px;
			.form-info{
				font-size: .9rem;
				line-height: 1.4;
			}
		}
	}
}
// Large devices (1440px and up)
@media (min-width: 1440px){

}
// Large devices (1440px and up)
@media (min-width: 991.98px) and (orientation: portrait){

}