// Navbar Section
.hla-navbar{
	.navbar-brand{

	}
	.navbar--call{
		.btn-call{
			display: inline-block;
			vertical-align: middle;
			border-radius: 100%;
			background: $main;
			color: $white;
			padding: 5px 11px;
			margin-right: 7px;
			&:hover{
				background: darken($main, 5%);
			}
		}
		.call--text{
			display: inline-block;
			vertical-align: middle;
			p{
				color: $yellow;
				margin-bottom: 0;
				font-size: .5rem;
				line-height: normal;
			}
			a{
				color: $grey-tosca;
				font-size: 1.35rem;
				line-height: normal;
				letter-spacing: 1px;
				&:hover{
					color: $main;
				}
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
	.hla-navbar{
		padding: 1rem 0!important;
		.navbar-brand{
			img{
				width: 70%;
			}
		}
		.navbar--call{
			.call--text{
				display: none;
			}
		}
	}
}