// Spacing and Screen Variables
$radius				: 4px;
$scale				: 8%;

$spacing-sm			: 10px;
$spacing-md			: 20px;
$spacing-lg			: 50px;

$screen-xs			: 480px !default;
$screen-xs-min		: $screen-xs !default;
$screen-sm			: 768px !default;
$screen-sm-min		: $screen-sm !default;
$screen-md			: 992px !default;
$screen-md-min		: $screen-md !default;
$screen-ipad		: 1024px !default;
$screen-ipad-min	: $screen-ipad !default;
$screen-lg			: 1200px !default;
$screen-lg-min		: $screen-lg !default;

$screen-xs-max		: ($screen-sm-min - 1) !default;
$screen-sm-max		: ($screen-md-min - 1) !default;
$screen-md-max		: ($screen-lg-min - 1) !default;


//Spacing, Padding, and Screen styles
.pb-150{
	padding-bottom: $spacing-lg * 3 !important;
}
