
@font-face {
  font-family: 'Proxima Nova';
  src: url("./ProximaNova/proximanova-light-webfont.eot");
  src: url("./ProximaNova/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("./ProximaNova/proximanova-light-webfont.woff") format("woff"), url("./ProximaNova/proximanova-light-webfont.ttf") format("truetype"), url("./ProximaNova/proximanova-light-webfont.svg#Proxima Nova Light") format("svg");
  font-weight: 300; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("./ProximaNova/proximanova-regular-webfont.eot");
  src: url("./ProximaNova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./ProximaNova/proximanova-regular-webfont.woff") format("woff"), url("./ProximaNova/proximanova-regular-webfont.ttf") format("truetype"), url("./ProximaNova/proximanova-regular-webfont.svg#Proxima Nova Regular") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("./ProximaNova/proximanova-semibold-webfont.eot");
  src: url("./ProximaNova/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("./ProximaNova/proximanova-semibold-webfont.woff") format("woff"), url("./ProximaNova/proximanova-semibold-webfont.ttf") format("truetype"), url("./ProximaNova/proximanova-semibold-webfont.svg#Proxima Nova Semibold") format("svg");
  font-weight: 600; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("./ProximaNova/proximanova-bold-webfont.eot");
  src: url("./ProximaNova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./ProximaNova/proximanova-bold-webfont.woff") format("woff"), url("./ProximaNova/proximanova-bold-webfont.ttf") format("truetype"), url("./ProximaNova/proximanova-bold-webfont.svg#Proxima Nova Bold") format("svg");
  font-weight: bold; }

@font-face {
  font-family: 'Product Sans';
  src: url("./product-sans/Product-Sans-Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Product Sans';
  src: url("./product-sans/Product-Sans-Bold.ttf") format("truetype");
  font-weight: bold; }