.pb-150 {
  padding-bottom: 150px !important; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/proximanova-light-webfont.eot");
  src: url("../fonts/ProximaNova/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/proximanova-light-webfont.woff") format("woff"), url("../fonts/ProximaNova/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/ProximaNova/proximanova-light-webfont.svg#Proxima Nova Light") format("svg");
  font-weight: 300; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/proximanova-regular-webfont.eot");
  src: url("../fonts/ProximaNova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/proximanova-regular-webfont.woff") format("woff"), url("../fonts/ProximaNova/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/ProximaNova/proximanova-regular-webfont.svg#Proxima Nova Regular") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/proximanova-semibold-webfont.eot");
  src: url("../fonts/ProximaNova/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/ProximaNova/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/ProximaNova/proximanova-semibold-webfont.svg#Proxima Nova Semibold") format("svg");
  font-weight: 600; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/proximanova-bold-webfont.eot");
  src: url("../fonts/ProximaNova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/proximanova-bold-webfont.woff") format("woff"), url("../fonts/ProximaNova/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/ProximaNova/proximanova-bold-webfont.svg#Proxima Nova Bold") format("svg");
  font-weight: bold; }

@font-face {
  font-family: 'Product Sans';
  src: url("../fonts/product-sans/Product-Sans-Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Product Sans';
  src: url("../fonts/product-sans/Product-Sans-Bold.ttf") format("truetype");
  font-weight: bold; }

body, ul, ol, dl {
  font-family: "Product Sans";
  font-weight: 400;
  color: #707070; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Product Sans";
  font-weight: 700;
  color: #707070; }

h1 {
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 68px;
  font-weight: 700; }

h2 {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px; }

h3 {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600; }

h4 {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 30px; }

h5 {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px; }

h6 {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 22px; }

blockquote {
  padding: 15px 20px;
  font-family: "Product Sans";
  color: #616161; }

p {
  font-weight: 400;
  font-family: "Product Sans";
  color: #616161;
  margin-bottom: 10px;
  line-height: 1.8; }

.content-title {
  color: #707070;
  font-size: 24px;
  font-weight: 600; }

.content-subtitle {
  color: #616161;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: normal; }

.text-white {
  color: #ffffff; }

.text-main {
  color: #25a69d; }

.btn-medium {
  height: 60px;
  font-size: 20px;
  font-weight: bold; }

.btn-mbig {
  height: 72px;
  font-size: 20px;
  font-weight: bold; }

.btn-big {
  font-size: 20px;
  padding: 14px 36px;
  height: 80px; }

.btn-normal {
  font-size: 12px;
  padding: 11px 35px; }

.btn-transparent {
  background: transparent;
  color: #ffffff !important; }

.btn-medium .icon {
  font-size: 36px;
  margin-left: 5px;
  line-height: normal;
  vertical-align: middle; }

.btn-black {
  background: #25a69d;
  color: #ffffff !important; }
  .btn-black:hover {
    background: #209189 !important; }
  .btn-black:active:focus {
    outline: none; }
  .btn-black:focus {
    outline: none; }

.btn-white {
  background: #ffffff;
  color: #25a69d !important; }
  .btn-white:hover {
    background: #f2f2f2 !important; }
  .btn-white:active:focus {
    outline: none; }
  .btn-white:focus {
    outline: none; }

.btn-main {
  background: #25a69d;
  color: #ffffff; }
  .btn-main:hover {
    background: #209189 !important; }
  .btn-main:active:focus {
    outline: none; }
  .btn-main:focus {
    outline: none; }

.btn-main-liner {
  background: #25a69d;
  border-bottom: 4px solid #218f87;
  color: #ffffff; }
  .btn-main-liner:hover {
    border-bottom-color: #1c7a73;
    background: #209189 !important;
    color: #ffffff; }
  .btn-main-liner:active:focus {
    outline: none; }
  .btn-main-liner:focus {
    outline: none; }

.btn-outline-white {
  background: transparent;
  color: #ffffff !important;
  border: 1px solid #ffffff; }
  .btn-outline-white:hover {
    border: 1px solid #e6e6e6 !important;
    color: #e6e6e6 !important; }
  .btn-outline-white:active:focus {
    outline: none; }
  .btn-outline-white:focus {
    outline: none; }

.btn-outline-grey {
  background: transparent;
  color: #666666 !important;
  border: 1px solid #ededed;
  transition-duration: 300ms;
  transition-delay: 200ms;
  margin-bottom: 1.5rem; }
  .btn-outline-grey:hover {
    border: 1px solid #25a69d !important; }
  .btn-outline-grey:active:focus {
    outline: none; }
  .btn-outline-grey:focus {
    outline: none; }
  .btn-outline-grey.btn-with-image {
    text-align: left; }
    .btn-outline-grey.btn-with-image img {
      height: 100%;
      max-height: 40px;
      margin-right: 1rem;
      padding: 5px;
      width: 40px;
      object-fit: contain; }
  .btn-outline-grey.btn-with-icon {
    text-align: center; }
    .btn-outline-grey.btn-with-icon i {
      padding-right: 5px;
      font-size: 1.8rem;
      vertical-align: middle;
      color: #25a69d; }
    .btn-outline-grey.btn-with-icon strong {
      vertical-align: middle; }

@media (max-width: 575.98px) {
  .btn-big {
    height: 70px; }
  .btn-outline-grey {
    margin-bottom: 1.2rem; }
  .btn-with-image {
    padding: 13px 20px !important; }
    .btn-with-image img {
      padding: 6px;
      margin-right: .5rem !important; }
    .btn-with-image span {
      font-size: 1rem; }
  .btn-with-icon {
    padding: 0 20px !important;
    font-size: 1rem;
    height: 70px;
    line-height: 70px; }
    .btn-with-icon i {
      padding-right: 5px;
      font-size: 1.5rem;
      vertical-align: middle;
      color: #25a69d; }
    .btn-with-icon strong {
      vertical-align: middle; } }

@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  .btn-with-image {
    padding: 18px 20px !important; }
  .btn-with-icon {
    padding: 0 20px !important;
    font-size: 1rem;
    height: 70px;
    line-height: 70px; }
    .btn-with-icon i {
      padding-right: 5px;
      font-size: 1.5rem;
      vertical-align: middle;
      color: #25a69d; }
    .btn-with-icon strong {
      vertical-align: middle; } }

.hla-navbar .navbar--call .btn-call {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  background: #25a69d;
  color: #ffffff;
  padding: 5px 11px;
  margin-right: 7px; }
  .hla-navbar .navbar--call .btn-call:hover {
    background: #209189; }

.hla-navbar .navbar--call .call--text {
  display: inline-block;
  vertical-align: middle; }
  .hla-navbar .navbar--call .call--text p {
    color: #e4ca39;
    margin-bottom: 0;
    font-size: .5rem;
    line-height: normal; }
  .hla-navbar .navbar--call .call--text a {
    color: #7c8786;
    font-size: 1.35rem;
    line-height: normal;
    letter-spacing: 1px; }
    .hla-navbar .navbar--call .call--text a:hover {
      color: #25a69d; }

@media (max-width: 575.98px) {
  .hla-navbar {
    padding: 1rem 0 !important; }
    .hla-navbar .navbar-brand img {
      width: 70%; }
    .hla-navbar .navbar--call .call--text {
      display: none; } }

.hla-footer {
  background: #f9f9f9; }
  .hla-footer .footer--link {
    width: 100%;
    margin-bottom: 1.2rem; }
    .hla-footer .footer--link .link--menu li {
      display: inline-block; }
      .hla-footer .footer--link .link--menu li a {
        color: #25a69d;
        font-size: .9rem;
        padding-right: 2rem; }
        .hla-footer .footer--link .link--menu li a:hover {
          color: #1c7c76; }
  .hla-footer .footer--text {
    margin-bottom: .8rem; }
    .hla-footer .footer--text p {
      color: #b0b0b0;
      font-size: .95rem;
      line-height: 1.6rem; }
      .hla-footer .footer--text p:last-child {
        padding-bottom: 1.8rem;
        border-bottom: 1px solid #eaeaea; }
  .hla-footer .footer--info .info--text {
    text-align: right; }
    .hla-footer .footer--info .info--text p {
      color: #a5a5a5;
      font-size: .95rem;
      margin-bottom: 0; }

@media (max-width: 575.98px) {
  .hla-footer {
    background: #f9f9f9; }
    .hla-footer .footer--link {
      margin-bottom: 1.2rem; }
      .hla-footer .footer--link .link--menu {
        text-align: center; }
        .hla-footer .footer--link .link--menu li {
          display: inline-block; }
          .hla-footer .footer--link .link--menu li a {
            font-size: .8rem;
            padding-right: .5rem; }
    .hla-footer .footer--text p {
      color: #b0b0b0;
      font-size: .95rem;
      line-height: 1.6rem; }
    .hla-footer .footer--info {
      margin-bottom: 1rem; }
      .hla-footer .footer--info .info--img {
        width: 50%; }
        .hla-footer .footer--info .info--img img {
          width: 90%; }
      .hla-footer .footer--info .info--text {
        width: 50%; }
        .hla-footer .footer--info .info--text p {
          font-size: .65rem; } }

@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape) {
  .hla-footer .footer--info {
    margin-bottom: 1rem; }
    .hla-footer .footer--info .info--img {
      width: 40%; }
      .hla-footer .footer--info .info--img img {
        width: 90%; }
    .hla-footer .footer--info .info--text {
      width: 60%; }
      .hla-footer .footer--info .info--text p {
        font-size: .8rem; } }

@media (max-width: 768px) and (orientation: landscape) {
  .hla-footer .footer--link .link--menu {
    margin-top: 1rem; }
    .hla-footer .footer--link .link--menu li a {
      font-size: 1rem;
      margin-right: 1rem; }
  .hla-footer .footer--info {
    margin-bottom: 1rem; }
    .hla-footer .footer--info .info--img {
      width: 40%; }
      .hla-footer .footer--info .info--img img {
        width: 90%; }
    .hla-footer .footer--info .info--text {
      width: 60%; }
      .hla-footer .footer--info .info--text p {
        font-size: .8rem; } }

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

a {
  color: inherit; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea {
  box-shadow: none !important; }
  input:focus, textarea:focus {
    box-shadow: none !important; }

.dropdown-toggle::after {
  display: none; }

.section-title {
  font-size: 2rem;
  color: #707070;
  font-weight: normal;
  width: fit-content;
  margin-bottom: 0; }

.section-text {
  font-size: 1.25rem;
  color: #616161; }

.full-width {
  width: 100%; }

.step {
  display: none; }

.nonactive {
  display: none; }

.active {
  display: block; }

.form-active {
  display: block; }

.main-link {
  color: #25a69d;
  font-size: 1.2rem;
  text-align: left; }
  .main-link:hover {
    color: #209189; }
  .main-link:hover, .main-link:active, .main-link:visited, .main-link:focus {
    text-decoration: none; }

.fadeIn {
  -webkit-animation: fadeIn 1.5s forwards;
  -moz-animation: fadeIn 1.5s forwards;
  -o-animation: fadeIn 1.5s forwards;
  -ms-animation: fadeIn 1.5s forwards;
  animation: fadeIn 1.5s forwards; }

.fadeOut {
  -webkit-animation: fadeOut 1.5s forwards;
  -moz-animation: fadeOut 1.5s forwards;
  -o-animation: fadeOut 1.5s forwards;
  -ms-animation: fadeOut 1.5s forwards;
  animation: fadeOut 1.5s forwards; }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none; }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none; }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none; }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none; }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }

.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

.green-checkmarks {
  background: #eff4f7;
  border-radius: 100%;
  color: #25a69d;
  padding: 2px 10px;
  font-size: 1.3rem; }

.checkmark--list .media .media-body h5 {
  font-size: 1.05rem;
  font-weight: normal;
  margin-bottom: 0;
  padding: 5px 0; }

.rating--list .media .media-rating {
  position: relative;
  margin-right: 1.5rem; }
  .rating--list .media .media-rating img {
    width: 100px; }
  .rating--list .media .media-rating span {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2.7rem;
    color: #ffffff;
    margin: 0 auto; }

.rating--list .media .media-body {
  padding-top: 8px; }

.star-rating li {
  display: inline-block;
  line-height: normal;
  margin-right: 5px; }
  .star-rating li .star-yellow {
    font-size: 2.2rem;
    color: #e4ca39; }

.star-rating.star-rating-sm li {
  margin-right: 0; }
  .star-rating.star-rating-sm li .star-yellow {
    font-size: 1.3rem; }

.hla-card {
  box-shadow: 0 10px 35px 10px rgba(165, 165, 165, 0.15);
  border: 0;
  padding: 2.5rem 3rem;
  background: #ffffff; }

.input-icon-group {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 1.3rem;
  height: 70px; }
  .input-icon-group.has-label {
    height: 115px; }
  .input-icon-group.has-label-info {
    height: 140px; }
    .input-icon-group.has-label-info .form-info {
      font-size: 1rem; }
  .input-icon-group .input-icon--label {
    font-size: 1.2rem;
    margin-bottom: .8rem;
    color: #6c6c6c; }
  .input-icon-group .input-icon--wrap {
    width: 100%;
    position: relative;
    padding: 0 0 0 71px;
    float: left;
    height: 70px;
    font-size: 18px;
    margin-bottom: .5rem; }
    .input-icon-group .input-icon--wrap .input-icon {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 6px 0 0 6px;
      border: 1px solid #d7d7d7;
      border-right: 0;
      width: 71px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      color: #25a69d;
      font-weight: 600;
      font-size: 21px; }
      .input-icon-group .input-icon--wrap .input-icon i {
        font-style: normal; }
    .input-icon-group .input-icon--wrap .input-text {
      width: 100%;
      height: 70px;
      line-height: normal;
      border-radius: 0 6px 6px 0;
      border: 1px solid #d7d7d7;
      outline: 0;
      -moz-appearance: textfield;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 1.2rem;
      font-weight: 400;
      padding: 23px 20px;
      color: #6c6c6c; }
    .input-icon-group .input-icon--wrap .help-link {
      color: #7e7e7e;
      position: absolute;
      top: 0;
      right: 5px;
      padding: 0; }
      .input-icon-group .input-icon--wrap .help-link:hover {
        color: #656565; }
    .input-icon-group .input-icon--wrap .input-help {
      font-size: 1.5rem; }

.input-phone-group {
  position: relative; }
  .input-phone-group .phone-fill {
    width: 20%;
    padding: 1rem 1rem 1rem 0; }
    .input-phone-group .phone-fill .phone-one {
      width: 100%;
      padding: 1rem .8rem;
      text-align: center;
      border-radius: 7px;
      font-size: 1.5rem;
      color: #424242;
      border: 1px solid #d7d7d7; }
      .input-phone-group .phone-fill .phone-one:focus {
        outline: none;
        border-color: #25a69d; }

.tooltip .arrow::before {
  border-top-color: #25a69d !important; }

.tooltip .tooltip-inner {
  background: #25a69d; }

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
  border-bottom-color: #25a69d !important; }

.header-title {
  font-family: 'Proxima Nova';
  font-weight: 300;
  text-align: left;
  font-size: 2.8rem;
  line-height: normal; }

.header-subtitle {
  font-size: 1.3rem;
  font-family: 'Proxima Nova';
  font-weight: 300;
  text-align: left;
  line-height: normal; }

.form-liner {
  width: 75px;
  border-top: 6px solid #b7b7b7;
  margin: 0 0 20px; }

.form-title {
  font-size: 1.45rem;
  font-weight: 400;
  color: #6c6c6c;
  line-height: 1.5;
  margin-bottom: 1.5rem; }
  .form-title.text-proxima {
    font-family: 'Proxima Nova';
    font-weight: 600; }

.form-subtitle {
  color: #6c6c6c;
  font-size: 1.1rem; }
  .form-subtitle.text-proxima {
    font-family: 'Proxima Nova'; }

.form-info {
  color: #a0a0a0;
  font-size: 1.1rem; }

.form-help {
  color: #878787;
  font-size: .9rem; }

.form-link {
  font-weight: bold; }
  .form-link:hover {
    color: #6e6e6e; }

.br-1 {
  border-right: 1px solid #ededed; }

.form-radio-wrap .form-radio-option .flex-fill .radio-option {
  visibility: hidden;
  display: none; }

.form-radio-wrap .form-radio-option .flex-fill .radio-option-btn {
  padding: 13px 36px; }

.form-radio-wrap .form-radio-option .radio-option {
  visibility: hidden;
  display: none; }

.form-radio-wrap .form-radio-option .radio-option-btn {
  padding: 20px 36px; }
  .form-radio-wrap .form-radio-option .radio-option-btn:hover {
    cursor: pointer; }
  .form-radio-wrap .form-radio-option .radio-option-btn span {
    vertical-align: middle; }
  .form-radio-wrap .form-radio-option .radio-option-btn img {
    vertical-align: middle; }

.hla-accordion .hla-accordion-card {
  border: 1px solid #f0f0f0 !important; }
  .hla-accordion .hla-accordion-card .hla-accordion-card--header {
    background: #ffffff;
    border-bottom-color: #f0f0f0;
    padding: 8px 20px; }
    .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button {
      color: #25a69d;
      font-size: 1.2rem;
      text-align: left; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button:hover {
        color: #209189; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button:hover, .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button:active, .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button:visited, .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button:focus {
        text-decoration: none; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button.collapsed .hla-accordion-icon .icon-arrow:before {
        content: "\f3d0"; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button:not(.collapsed) .hla-accordion-icon .icon-arrow:before {
        content: "\f3d8"; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button .hla-accordion-icon {
        position: absolute;
        right: 20px;
        top: 13px;
        color: #25a69d; }
        .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button .hla-accordion-icon .icon-arrow:before {
          display: inline-block;
          font-family: "Ionicons";
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
  .hla-accordion .hla-accordion-card .hla-accordion-card--body .loan-details--wrap img {
    width: 90px;
    height: 90px;
    object-fit: cover; }
  .hla-accordion .hla-accordion-card .hla-accordion-card--body .loan-details--wrap .loan-details--info {
    padding-top: 15px; }
    .hla-accordion .hla-accordion-card .hla-accordion-card--body .loan-details--wrap .loan-details--info h3 {
      color: #777777;
      font-weight: 400; }
    .hla-accordion .hla-accordion-card .hla-accordion-card--body .loan-details--wrap .loan-details--info h5 {
      color: #7a7a7a;
      font-size: 1.2rem;
      line-height: normal;
      font-weight: 400; }
  .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result {
    position: relative;
    min-height: 180px;
    color: #7b7b7b;
    padding: 1rem 1rem 2rem; }
    .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--chart {
      position: relative;
      width: 180px;
      height: 180px;
      display: table-cell; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--chart .inside-content {
        position: absolute;
        z-index: 3;
        width: 100%;
        left: 0;
        top: 45%;
        margin-top: -33px;
        text-align: center;
        line-height: 1.2;
        color: #7b7b7b; }
        .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--chart .inside-content.content-loan {
          margin-top: -23px; }
        .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--chart .inside-content .inside-title {
          font-size: 1.05rem;
          font-weight: bold;
          min-height: 40px;
          width: 80%;
          line-height: normal;
          margin: auto; }
        .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--chart .inside-content .max-loan-round {
          font-size: 1.7rem;
          line-height: 1.8; }
    .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--info {
      padding: 15px 20px; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--info .chart-title {
        color: #7b7b7b;
        font-size: 1.4rem;
        line-height: normal;
        font-weight: bold;
        min-height: 56px; }
        .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--info .chart-title.title-loan {
          padding-top: 25px; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--info .loan-price {
        font-weight: bold;
        font-size: 2rem; }
        .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--info .loan-price.loan-borrow {
          color: #ffbf3e; }
        .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--info .loan-price.loan-ammount {
          color: #aacb0e; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--body .hla-loan-result .loan-result--info .loan-info {
        color: #7b7b7b;
        font-size: 1rem;
        line-height: normal; }

.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box; }

.autocomplete-suggestion {
  position: relative;
  padding: .4rem .6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: #333; }
  .autocomplete-suggestion:hover {
    cursor: pointer; }

.autocomplete-suggestion b {
  font-weight: normal;
  color: #25a69d; }

.autocomplete-suggestion.selected {
  background: #f0f0f0; }

.hla-modal-verification .modal-dialog {
  max-width: 540px; }
  .hla-modal-verification .modal-dialog .modal-content {
    border: 0; }
    .hla-modal-verification .modal-dialog .modal-content .modal-header {
      height: 120px;
      background: url("../img/hero_bgr.png");
      background-size: cover;
      background-position: bottom;
      padding: 10px 12px;
      border: 0; }
      .hla-modal-verification .modal-dialog .modal-content .modal-header .close {
        color: #ffffff; }
      .hla-modal-verification .modal-dialog .modal-content .modal-header .modal-title {
        position: absolute;
        width: 100%;
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        left: 0;
        top: 10%; }
    .hla-modal-verification .modal-dialog .modal-content .modal-body {
      padding: 1.5rem 2.5rem;
      text-align: center; }
      .hla-modal-verification .modal-dialog .modal-content .modal-body p {
        font-size: 1rem;
        font-family: 'Proxima Nova';
        line-height: normal;
        margin-bottom: 1rem; }
      .hla-modal-verification .modal-dialog .modal-content .modal-body .form-verification {
        padding: .5rem 2rem 0; }
        .hla-modal-verification .modal-dialog .modal-content .modal-body .form-verification .input-icon-group {
          height: 100%; }
          .hla-modal-verification .modal-dialog .modal-content .modal-body .form-verification .input-icon-group .input-icon--wrap {
            margin-bottom: 1.2rem; }

.form-checkbox {
  padding: 15px 0;
  position: relative;
  width: 100%; }
  .form-checkbox input[type="checkbox"] {
    visibility: hidden;
    display: none; }
  .form-checkbox input[type="checkbox"]:checked + .form-checkbox-label .checkbox-label:after {
    opacity: 1; }
  .form-checkbox .form-checkbox-label .checkbox-label-wrap {
    width: 38px;
    display: table-cell; }
    .form-checkbox .form-checkbox-label .checkbox-label-wrap .checkbox-label {
      background-color: transparent;
      border: 2px solid #25a69d;
      border-radius: 50%;
      cursor: pointer;
      height: 28px;
      width: 28px;
      margin-right: 10px;
      margin-bottom: 0;
      position: relative;
      display: inline-block;
      vertical-align: middle; }
      .form-checkbox .form-checkbox-label .checkbox-label-wrap .checkbox-label:after {
        border: 2px solid #555;
        border-top: none;
        border-right: none;
        content: "";
        height: 10px;
        left: 5px;
        opacity: 0;
        position: absolute;
        top: 0px;
        transform: rotate(-45deg);
        width: 24px; }
  .form-checkbox .form-checkbox-text {
    display: table-cell;
    vertical-align: middle;
    line-height: 28px; }

@media (max-width: 575.98px) {
  .form-title {
    font-size: 1.3rem; }
  .form-info {
    font-size: .8rem;
    line-height: 1.5;
    margin-bottom: 1.3rem; }
    .form-info .main-link {
      font-size: .9rem; }
  .input-icon-group {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 1.3rem;
    height: 60px; }
    .input-icon-group.has-label {
      height: 115px; }
    .input-icon-group.has-label-info {
      height: 140px; }
      .input-icon-group.has-label-info .form-info {
        font-size: .8rem; }
    .input-icon-group .input-icon--label {
      font-size: 1.2rem;
      margin-bottom: .8rem;
      color: #6c6c6c; }
    .input-icon-group .input-icon--wrap {
      padding: 0 0 0 60px;
      height: 60px; }
      .input-icon-group .input-icon--wrap .input-icon {
        width: 60px;
        height: 60px;
        line-height: 60px; }
        .input-icon-group .input-icon--wrap .input-icon img {
          margin-top: -5px;
          margin-right: -5px; }
      .input-icon-group .input-icon--wrap .input-text {
        height: 60px; }
  .form-radio-wrap .form-radio-option .flex-fill {
    width: 50%; }
    .form-radio-wrap .form-radio-option .flex-fill:first-child {
      padding-left: 0 !important; }
    .form-radio-wrap .form-radio-option .flex-fill:last-child {
      padding-right: 0 !important; }
    .form-radio-wrap .form-radio-option .flex-fill .radio-option {
      visibility: hidden;
      display: none; }
    .form-radio-wrap .form-radio-option .flex-fill .radio-option-btn {
      padding: 13px 36px; }
  .form-radio-wrap .form-radio-option .radio-option {
    visibility: hidden;
    display: none; }
  .form-radio-wrap .form-radio-option .radio-option-btn {
    padding: 20px 36px; }
    .form-radio-wrap .form-radio-option .radio-option-btn:hover {
      cursor: pointer; }
    .form-radio-wrap .form-radio-option .radio-option-btn span {
      vertical-align: middle; }
    .form-radio-wrap .form-radio-option .radio-option-btn img {
      vertical-align: middle; }
  .input-phone-group {
    position: relative; }
    .input-phone-group .phone-fill {
      width: 25%;
      padding: 1rem .5rem 1rem 0; }
      .input-phone-group .phone-fill .phone-one {
        width: 100%;
        padding: .5rem 1rem;
        text-align: center;
        border-radius: 7px;
        font-size: 1.5rem;
        color: #424242;
        border: 1px solid #d7d7d7; }
        .input-phone-group .phone-fill .phone-one:focus {
          outline: none;
          border-color: #25a69d; }
  .hla-modal-verification .modal-dialog {
    max-width: 540px; }
    .hla-modal-verification .modal-dialog .modal-content {
      border: 0; }
      .hla-modal-verification .modal-dialog .modal-content .modal-header {
        height: 80px;
        background: url("../img/hero_bgr.png");
        background-size: cover;
        background-position: bottom;
        padding: 5px 12px;
        border: 0; }
        .hla-modal-verification .modal-dialog .modal-content .modal-header .close {
          color: #ffffff; }
        .hla-modal-verification .modal-dialog .modal-content .modal-header .modal-title {
          font-size: 1.1rem;
          top: 8%; }
      .hla-modal-verification .modal-dialog .modal-content .modal-body {
        padding: 1.5rem;
        text-align: center; }
        .hla-modal-verification .modal-dialog .modal-content .modal-body p {
          font-size: .8rem;
          font-family: 'Proxima Nova';
          line-height: normal;
          margin-bottom: 1rem; }
        .hla-modal-verification .modal-dialog .modal-content .modal-body .form-verification {
          padding: .5rem 0 0; }
          .hla-modal-verification .modal-dialog .modal-content .modal-body .form-verification .input-icon-group {
            height: 100%; }
            .hla-modal-verification .modal-dialog .modal-content .modal-body .form-verification .input-icon-group .input-icon--wrap {
              margin-bottom: 1.2rem; }
  .hla-loan-result-container {
    padding: 20px 10px 0 !important; }
    .hla-loan-result-container .col-md-6:first-child {
      border-bottom: 1px solid #f0f0f0; }
    .hla-loan-result-container .col-md-6:last-child {
      padding-top: 20px; }
    .hla-loan-result-container .hla-loan-result {
      padding: 0 !important;
      min-height: 130px !important; }
      .hla-loan-result-container .hla-loan-result .loan-result--chart {
        width: 140px !important;
        height: 130px !important; }
        .hla-loan-result-container .hla-loan-result .loan-result--chart canvas {
          width: 110px !important;
          height: 110px !important; }
        .hla-loan-result-container .hla-loan-result .loan-result--chart .inside-content {
          width: 110px !important;
          top: 60px !important; }
          .hla-loan-result-container .hla-loan-result .loan-result--chart .inside-content.content-loan {
            margin-top: -30px !important; }
          .hla-loan-result-container .hla-loan-result .loan-result--chart .inside-content .inside-title {
            font-size: .6rem !important;
            font-weight: bold;
            min-height: 25px !important;
            line-height: normal;
            width: 75% !important;
            margin: auto; }
          .hla-loan-result-container .hla-loan-result .loan-result--chart .inside-content .loan-borrow {
            font-size: 1rem !important; }
          .hla-loan-result-container .hla-loan-result .loan-result--chart .inside-content .loan-ammount {
            font-size: 1rem !important; }
      .hla-loan-result-container .hla-loan-result .loan-result--info {
        padding: 0 0 15px 10px !important; }
        .hla-loan-result-container .hla-loan-result .loan-result--info .chart-title {
          font-size: 0.95rem !important;
          min-height: 36px !important;
          margin-bottom: 0; }
          .hla-loan-result-container .hla-loan-result .loan-result--info .chart-title.title-loan {
            padding-top: 10px !important;
            min-height: 26px !important; }
        .hla-loan-result-container .hla-loan-result .loan-result--info .loan-price {
          font-size: 1.4rem !important;
          margin-bottom: 0; }
          .hla-loan-result-container .hla-loan-result .loan-result--info .loan-price.loan-ammount {
            color: #aacb0e; }
        .hla-loan-result-container .hla-loan-result .loan-result--info .loan-info {
          font-size: .7rem !important; }
    .hla-loan-result-container .loan-result-details .col-md-6:first-child {
      border-bottom: 0; }
    .hla-loan-result-container .loan-result-details .col-md-6:last-child {
      padding-top: 20px; }
    .hla-loan-result-container .loan-result-details .loan-details--wrap img {
      padding: 10px;
      width: 80px !important;
      height: 80px !important;
      margin-right: 0 !important; }
    .hla-loan-result-container .loan-result-details .loan-details--wrap .loan-details--info {
      padding: 10px !important; }
      .hla-loan-result-container .loan-result-details .loan-details--wrap .loan-details--info h5 {
        font-size: .9rem !important; }
      .hla-loan-result-container .loan-result-details .loan-details--wrap .loan-details--info h3 {
        font-size: 1.2rem; }
    .hla-loan-result-container .loan-disclaimer {
      font-size: .9rem;
      color: #afafaf; }
  .hla-accordion {
    margin-bottom: 1.5rem; }
    .hla-accordion .hla-accordion-card .hla-accordion-card--header {
      padding: 8px 10px; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-button {
        font-size: .9rem;
        padding: 5px 0; }
      .hla-accordion .hla-accordion-card .hla-accordion-card--header .hla-accordion-icon {
        right: 0px !important;
        top: 7px !important; }
    .hla-accordion .hla-accordion-card .hla-accordion-card--body {
      padding: 20px 10px !important; } }

@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  .hla-loan-result-container {
    padding: 1.25rem; }
    .hla-loan-result-container .hla-loan-result {
      padding-bottom: 0 !important;
      min-height: 130px !important; }
      .hla-loan-result-container .hla-loan-result .loan-result--chart {
        width: 140px !important;
        height: 130px !important; }
        .hla-loan-result-container .hla-loan-result .loan-result--chart canvas {
          width: 110px !important;
          height: 110px !important; }
        .hla-loan-result-container .hla-loan-result .loan-result--chart .inside-content {
          width: 110px !important;
          top: 60px !important; }
          .hla-loan-result-container .hla-loan-result .loan-result--chart .inside-content.content-loan {
            margin-top: -30px !important; }
          .hla-loan-result-container .hla-loan-result .loan-result--chart .inside-content .inside-title {
            font-size: .6rem !important;
            font-weight: bold;
            min-height: 25px !important;
            line-height: normal;
            width: 75% !important;
            margin: auto; }
          .hla-loan-result-container .hla-loan-result .loan-result--chart .inside-content .loan-borrow {
            font-size: 1rem !important; }
          .hla-loan-result-container .hla-loan-result .loan-result--chart .inside-content .loan-ammount {
            font-size: 1rem !important; }
      .hla-loan-result-container .hla-loan-result .loan-result--info {
        padding: 0 0 15px 10px !important; }
        .hla-loan-result-container .hla-loan-result .loan-result--info .chart-title {
          font-size: 0.95rem !important;
          min-height: 36px !important;
          margin-bottom: 0; }
          .hla-loan-result-container .hla-loan-result .loan-result--info .chart-title.title-loan {
            padding-top: 10px !important;
            min-height: 26px !important; }
        .hla-loan-result-container .hla-loan-result .loan-result--info .loan-price {
          font-size: 1.4rem !important;
          margin-bottom: 0; }
          .hla-loan-result-container .hla-loan-result .loan-result--info .loan-price.loan-ammount {
            color: #aacb0e; }
        .hla-loan-result-container .hla-loan-result .loan-result--info .loan-info {
          font-size: .7rem !important; }
    .hla-loan-result-container .loan-result-details .loan-details--wrap {
      padding: 1.25rem 1.25rem 0 !important; }
      .hla-loan-result-container .loan-result-details .loan-details--wrap img {
        padding: 10px;
        width: 80px !important;
        height: 80px !important;
        margin-right: 0 !important; }
      .hla-loan-result-container .loan-result-details .loan-details--wrap .loan-details--info {
        padding: 10px !important; }
        .hla-loan-result-container .loan-result-details .loan-details--wrap .loan-details--info h5 {
          font-size: .9rem !important; }
        .hla-loan-result-container .loan-result-details .loan-details--wrap .loan-details--info h3 {
          font-size: 1.2rem; }
    .hla-loan-result-container .loan-disclaimer {
      font-size: .9rem;
      color: #afafaf; }
  .input-phone-group {
    position: relative; }
    .input-phone-group .phone-fill {
      width: 25%;
      padding: 1rem .5rem 1rem 0; }
      .input-phone-group .phone-fill .phone-one {
        width: 100%;
        padding: .5rem 1rem;
        text-align: center;
        border-radius: 7px;
        font-size: 1.5rem;
        color: #424242;
        border: 1px solid #d7d7d7; }
        .input-phone-group .phone-fill .phone-one:focus {
          outline: none;
          border-color: #25a69d; }
  .input-icon-group {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 1.3rem;
    height: 60px; }
    .input-icon-group.has-label {
      height: 115px; }
    .input-icon-group.has-label-info {
      height: 140px; }
      .input-icon-group.has-label-info .form-info {
        font-size: .8rem;
        line-height: 1.4; }
    .input-icon-group .input-icon--label {
      font-size: 1.2rem;
      margin-bottom: .8rem;
      color: #6c6c6c; }
    .input-icon-group .input-icon--wrap {
      padding: 0 0 0 60px;
      height: 60px; }
      .input-icon-group .input-icon--wrap .input-icon {
        width: 60px;
        height: 60px;
        line-height: 60px; }
        .input-icon-group .input-icon--wrap .input-icon img {
          margin-top: -5px;
          margin-right: -5px; }
      .input-icon-group .input-icon--wrap .input-text {
        height: 60px; } }

@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .input-icon-group.has-label-info {
    height: 140px; }
    .input-icon-group.has-label-info .form-info {
      font-size: .9rem;
      line-height: 1.4; } }

.hla-hero {
  position: relative; }
  .hla-hero .hla-hero--text {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
    margin: 0 auto;
    text-align: center; }
    .hla-hero .hla-hero--text .hero-text--container .hero-title {
      font-family: 'Proxima Nova';
      font-weight: 300;
      color: #ffffff; }
      .hla-hero .hla-hero--text .hero-text--container .hero-title strong {
        font-style: italic;
        font-weight: 600; }
    .hla-hero .hla-hero--text .hero-button--container {
      padding-top: 1rem; }
      .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box {
        padding: 1rem; }
        .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--img {
          background: #4eb7af;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          height: 120px;
          width: 300px; }
          .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--img img {
            margin: auto;
            padding-top: 10%; }
        .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--text {
          background: #ffffff;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          padding: 8px 5px; }
          .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--text p {
            margin-bottom: 0;
            font-size: 1.1rem;
            color: #838383; }
        .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a:hover .hero-list .hero-list--img {
          background: #60beb7; }

.hla-powered {
  padding: 5rem 0; }
  .hla-powered .powered--first-column .first-column--heading .section-title {
    display: inline-block; }
  .hla-powered .powered--first-column .first-column--heading img {
    display: inline-block;
    height: 60px;
    padding: 0 1rem;
    margin-top: -20px; }
  .hla-powered .powered--second-column .powered--list .media img {
    width: 140px;
    padding: 5px; }
  .hla-powered .powered--second-column .powered--list .media .media-body {
    padding-top: 35px; }
    .hla-powered .powered--second-column .powered--list .media .media-body h4 {
      color: #616161;
      font-weight: normal;
      font-size: 1.25rem; }

.hla-review {
  padding: 5rem 0; }
  .hla-review .review--second-column .hla-card {
    position: absolute;
    top: -8rem; }
    .hla-review .review--second-column .hla-card .review-card--block {
      margin-bottom: 1rem; }
      .hla-review .review--second-column .hla-card .review-card--block .star-rating {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle; }
      .hla-review .review--second-column .hla-card .review-card--block span {
        display: inline-block;
        color: #838383;
        font-size: .9rem; }
      .hla-review .review--second-column .hla-card .review-card--block .review-card--title {
        color: #636363;
        font-size: 1.2rem;
        margin-bottom: 0; }
      .hla-review .review--second-column .hla-card .review-card--block .review-card--text {
        font-size: 1rem;
        line-height: 1.5rem;
        color: #424242; }

@media (max-width: 575.98px) {
  .section-title {
    font-size: 1.6rem; }
  .section-text {
    font-size: .9rem; }
  .hla-card {
    padding: 1.5rem 2rem; }
  .hla-hero {
    position: relative; }
    .hla-hero .hla-hero--img {
      height: 560px; }
      .hla-hero .hla-hero--img .row {
        height: inherit; }
        .hla-hero .hla-hero--img .row img {
          height: 100%;
          object-fit: cover; }
    .hla-hero .hla-hero--text {
      position: absolute;
      width: 100%;
      top: 10%;
      left: 0;
      margin: 0 auto;
      text-align: center; }
      .hla-hero .hla-hero--text .hero-text--container .hero-title {
        font-family: 'Proxima Nova';
        font-weight: 300;
        font-size: 1.8rem;
        line-height: normal;
        color: #ffffff; }
        .hla-hero .hla-hero--text .hero-text--container .hero-title strong {
          font-style: italic;
          font-weight: 600; }
      .hla-hero .hla-hero--text .hero-button--container {
        padding-top: 2rem; }
        .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box {
          padding: 0;
          margin-bottom: 1.5rem;
          width: 100%; }
          .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list {
            display: table;
            width: 100%; }
            .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--img {
              display: table-cell;
              width: 30%;
              background: #ffffff;
              border-top-right-radius: 5px;
              border-bottom-left-radius: 5px;
              border-top-right-radius: 0;
              height: 80px;
              width: 80px; }
              .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--img img {
                padding-top: 20px;
                width: 40px; }
            .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--text {
              display: table-cell;
              width: 70%;
              background: #4eb7af;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              border-bottom-left-radius: 0;
              padding: 1rem;
              vertical-align: middle; }
              .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--text p {
                margin-bottom: 0;
                font-size: .9rem;
                line-height: normal;
                color: #ffffff;
                text-align: left; }
          .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a:hover .hero-list .hero-list--img {
            background: #60beb7; }
  .hla-review {
    padding: 1rem 0 3rem; }
    .hla-review .review--first-column {
      padding: 1rem !important;
      display: table; }
      .hla-review .review--first-column .section-title {
        width: 100%; }
      .hla-review .review--first-column .rating--list .media .media-rating {
        margin-right: 1rem; }
        .hla-review .review--first-column .rating--list .media .media-rating span {
          font-size: 2.2rem; }
        .hla-review .review--first-column .rating--list .media .media-rating img {
          width: 80px; }
      .hla-review .review--first-column .section-text {
        vertical-align: top; }
    .hla-review .review--second-column {
      padding: 1rem !important; }
      .hla-review .review--second-column .hla-card {
        display: block;
        position: relative;
        top: 0;
        margin-bottom: 1rem; }
        .hla-review .review--second-column .hla-card .star-rating {
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle; }
        .hla-review .review--second-column .hla-card span {
          display: inline-block;
          color: #838383;
          font-size: .7rem !important; }
        .hla-review .review--second-column .hla-card .review-card--title {
          font-size: 1rem !important; }
        .hla-review .review--second-column .hla-card .review-card--text {
          font-size: .8rem !important;
          line-height: 1.2rem !important; }
  .hla-powered {
    padding: 3rem 0; }
    .hla-powered .powered--first-column {
      padding: 1rem !important; }
      .hla-powered .powered--first-column .first-column--heading img {
        height: 45px;
        padding: 0;
        float: right;
        margin-top: 0; }
      .hla-powered .powered--first-column .section-text {
        margin-bottom: 1rem !important; }
      .hla-powered .powered--first-column .checkmark--list {
        margin-bottom: 1rem !important; }
    .hla-powered .powered--second-column {
      padding: 1rem !important; }
      .hla-powered .powered--second-column .powered--list .media img {
        width: 120px; }
      .hla-powered .powered--second-column .powered--list .media .media-body {
        padding-top: 2rem; }
        .hla-powered .powered--second-column .powered--list .media .media-body h4 {
          font-size: 1.1rem;
          line-height: normal; }
  .hla-affordable .container-fluid .row {
    padding-right: 0 !important; }
    .hla-affordable .container-fluid .row .affordable--first-column {
      padding: 0; }
    .hla-affordable .container-fluid .row .affordable--second-column {
      padding: 1rem !important;
      border-bottom: 1px solid #ececec; }
      .hla-affordable .container-fluid .row .affordable--second-column .checkmark--list {
        margin-bottom: 0 !important; } }

@media (max-width: 768px) and (orientation: landscape) {
  .section-title {
    font-size: 1.6rem; }
  .section-text {
    font-size: .9rem; }
  .hla-card {
    padding: 1.5rem 2rem; }
  .hla-hero {
    position: relative; }
    .hla-hero .hla-hero--img {
      height: 560px; }
      .hla-hero .hla-hero--img .row {
        height: inherit; }
        .hla-hero .hla-hero--img .row img {
          height: 100%;
          object-fit: cover; }
    .hla-hero .hla-hero--text {
      position: absolute;
      width: 100%;
      top: 10%;
      left: 0;
      margin: 0 auto;
      text-align: center; }
      .hla-hero .hla-hero--text .hero-text--container .hero-title {
        font-family: 'Proxima Nova';
        font-weight: 300;
        font-size: 1.8rem;
        line-height: normal;
        color: #ffffff; }
        .hla-hero .hla-hero--text .hero-text--container .hero-title strong {
          font-style: italic;
          font-weight: 600; }
      .hla-hero .hla-hero--text .hero-button--container {
        padding: 2rem 3rem 0; }
        .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box {
          padding: 0; }
          .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list {
            display: table;
            width: 100%; }
            .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--img {
              display: table-cell;
              width: 20%;
              background: #ffffff;
              border-top-right-radius: 5px;
              border-bottom-left-radius: 5px;
              border-top-right-radius: 0;
              height: 80px;
              width: 80px; }
              .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--img img {
                padding-top: 20px;
                width: 40px; }
            .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--text {
              display: table-cell;
              width: 80%;
              background: #4eb7af;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              border-bottom-left-radius: 0;
              padding: 1rem;
              vertical-align: middle; }
              .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--text p {
                margin-bottom: 0;
                font-size: 1rem;
                line-height: normal;
                color: #ffffff;
                text-align: left; }
          .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a:hover .hero-list .hero-list--img {
            background: #60beb7; }
  .hla-review {
    padding: 1rem 0 3rem; }
    .hla-review .review--first-column {
      padding: 1rem !important;
      display: table; }
      .hla-review .review--first-column .section-title {
        width: 100%; }
      .hla-review .review--first-column .rating--list .media .media-rating {
        margin-right: 1rem; }
        .hla-review .review--first-column .rating--list .media .media-rating span {
          font-size: 2.2rem; }
        .hla-review .review--first-column .rating--list .media .media-rating img {
          width: 80px; }
      .hla-review .review--first-column .section-text {
        vertical-align: top; }
    .hla-review .review--second-column {
      padding: 1rem !important; }
      .hla-review .review--second-column .hla-card {
        display: block;
        position: relative;
        top: 0;
        margin-bottom: 1rem; }
        .hla-review .review--second-column .hla-card .star-rating {
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle; }
        .hla-review .review--second-column .hla-card span {
          display: inline-block;
          color: #838383;
          font-size: .7rem !important; }
        .hla-review .review--second-column .hla-card .review-card--title {
          font-size: 1rem !important; }
        .hla-review .review--second-column .hla-card .review-card--text {
          font-size: .8rem !important;
          line-height: 1.2rem !important; }
  .hla-powered {
    padding: 3rem 0; }
    .hla-powered .powered--first-column {
      padding: 1rem !important; }
      .hla-powered .powered--first-column .first-column--heading img {
        height: 45px;
        padding: 0;
        float: right;
        margin-top: 0; }
      .hla-powered .powered--first-column .section-text {
        margin-bottom: 1rem !important; }
      .hla-powered .powered--first-column .checkmark--list {
        margin-bottom: 1rem !important; }
    .hla-powered .powered--second-column {
      padding: 1rem !important; }
      .hla-powered .powered--second-column .powered--list .media img {
        width: 120px; }
      .hla-powered .powered--second-column .powered--list .media .media-body {
        padding-top: 2rem; }
        .hla-powered .powered--second-column .powered--list .media .media-body h4 {
          font-size: 1.1rem;
          line-height: normal; }
  .hla-affordable .container-fluid .row {
    padding-right: 0 !important; }
    .hla-affordable .container-fluid .row .affordable--first-column {
      padding: 0; }
    .hla-affordable .container-fluid .row .affordable--second-column {
      padding: 1rem !important;
      border-bottom: 1px solid #ececec; }
      .hla-affordable .container-fluid .row .affordable--second-column .checkmark--list {
        margin-bottom: 0 !important; } }

@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape) {
  .hla-hero .hla-hero--text .hero-button--container {
    padding: 1rem 4rem 0; }
    .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box {
      width: 100%;
      margin-bottom: 1rem; }
      .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--img .icon-white {
        display: none !important; }
      .hla-hero .hla-hero--text .hero-button--container .hero-button--list .hero-button--list-box a .hero-list .hero-list--img .icon-green {
        display: block !important; } }

@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  .section-title {
    font-size: 1.8rem; }
  .section-text {
    font-size: 1.1rem; }
  .green-checkmarks {
    font-size: 1.1rem;
    padding: 2px 8px; }
  .checkmark--list .media .media-body h5 {
    font-size: .85rem; }
  .hla-hero .hla-hero--img {
    height: 560px; }
    .hla-hero .hla-hero--img .row {
      height: inherit; }
      .hla-hero .hla-hero--img .row img {
        height: 100%;
        object-fit: cover; }
  .hla-hero .hla-hero--text .hero-button--container {
    padding-top: 0; }
  .hla-powered .powered--first-column {
    padding-right: 1rem !important; }
    .hla-powered .powered--first-column .section-text {
      margin-bottom: 1rem !important; }
    .hla-powered .powered--first-column .checkmark--list {
      margin-bottom: 1rem !important; }
  .hla-powered .powered--second-column {
    padding-left: 1rem !important; }
    .hla-powered .powered--second-column .powered--list .media img {
      width: 120px; }
    .hla-powered .powered--second-column .powered--list .media .media-body {
      padding-top: 2rem; }
      .hla-powered .powered--second-column .powered--list .media .media-body h4 {
        font-size: 1.1rem;
        line-height: normal; }
  .hla-affordable .row.pr-5 {
    padding-right: 2px !important; }
  .hla-affordable .affordable--first-column {
    border-bottom: 1px solid #ececec; }
    .hla-affordable .affordable--first-column img {
      object-fit: cover;
      object-position: right;
      width: 100%;
      height: 400px; }
  .hla-affordable .affordable--second-column {
    padding: 2rem 1rem 0 !important;
    border-bottom: 1px solid #ececec; }
    .hla-affordable .affordable--second-column .row {
      margin-top: 2rem !important; }
      .hla-affordable .affordable--second-column .row .checkmark--list .media .green-checkmarks {
        margin-right: .8rem !important; }
      .hla-affordable .affordable--second-column .row .checkmark--list .media .media-body h5 {
        font-size: .85rem;
        line-height: 1rem; }
  .hla-review {
    padding: 3rem 0; }
    .hla-review .review--first-column {
      flex: 0 0 100%;
      max-width: 100%;
      display: table; }
      .hla-review .review--first-column .section-title {
        width: 100%;
        display: table-caption; }
      .hla-review .review--first-column .rating--list {
        display: table-cell; }
      .hla-review .review--first-column .section-text {
        display: table-cell;
        width: 50%;
        vertical-align: top; }
    .hla-review .review--second-column {
      flex: 0 0 100%;
      max-width: 100%; }
      .hla-review .review--second-column .hla-card {
        display: block;
        position: relative;
        top: 0; } }

@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .hla-hero .hla-hero--img {
    height: 560px; }
    .hla-hero .hla-hero--img .row {
      height: inherit; }
      .hla-hero .hla-hero--img .row img {
        height: 100%;
        object-fit: cover; }
  .hla-hero .hla-hero--text .hero-button--container {
    padding-top: 0; }
  .hla-affordable .affordable--first-column img {
    height: 100%;
    object-fit: cover;
    object-position: center right; }
  .hla-affordable .affordable--second-column {
    padding: 2rem 1rem !important; }
  .hla-review .review--second-column .hla-card {
    top: -7rem !important; } }

@media (min-width: 1440px) {
  .hla-affordable .affordable--first-column img {
    height: 500px;
    object-fit: cover;
    object-position: top center; }
  .hla-affordable .affordable--second-column {
    padding-right: 15% !important; } }

@media (min-width: 991.98px) and (orientation: portrait) {
  .hla-affordable .affordable--first-column img {
    height: 520px;
    object-fit: cover;
    object-position: top right; } }

.hla-header--progress {
  background: #f1f1f1;
  height: 18px;
  padding: 3px; }
  .hla-header--progress .progress-container {
    width: 100%;
    background-image: linear-gradient(150deg, #f1f1f1 19.23%, #e7e7e7 19.23%, #e7e7e7 50%, #f1f1f1 50%, #f1f1f1 69.23%, #e7e7e7 69.23%, #e7e7e7 100%);
    background-size: .5rem .3rem; }
    .hla-header--progress .progress-container .progress-bar {
      height: 100%;
      background-image: linear-gradient(to bottom, #ecd971, #ead564, #e8d257, #e6ce49, #e4ca39);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px; }

.hla-header .hla-header-white {
  position: relative; }
  .hla-header .hla-header-white.header-big .hla-header--img img {
    height: 320px; }
  .hla-header .hla-header-white .hla-header--img img {
    height: 240px;
    object-position: bottom; }
  .hla-header .hla-header-white .hla-header--text {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center; }

.hla-header .hla-header-main {
  position: relative; }
  .hla-header .hla-header-main.header-big .hla-header--img img {
    height: 320px; }
  .hla-header .hla-header-main .hla-header--img img {
    height: 240px;
    object-position: bottom; }
  .hla-header .hla-header-main .hla-header--text {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center; }

.hla-form {
  padding: 4rem 0 8rem;
  position: relative; }
  .hla-form.form-grey {
    background: #f8f8f8; }
  .hla-form .hla-form--container {
    margin-bottom: 1rem; }
    .hla-form .hla-form--container .form-left--side {
      padding: 1rem 3rem 1rem 0; }
    .hla-form .hla-form--container .form-right--side {
      padding: 1rem 0 1rem 3rem; }
  .hla-form .hla-form--fullwidth {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: url("../img/hero_bgr.png");
    background-size: cover;
    background-position: bottom; }
    .hla-form .hla-form--fullwidth .content--fullwidth {
      padding: 12% 10%;
      width: fit-content;
      margin: auto; }
      .hla-form .hla-form--fullwidth .content--fullwidth h2 {
        font-family: 'Proxima Nova';
        font-weight: 300;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
        width: fit-content;
        line-height: 2;
        font-size: 2.3rem; }
        .hla-form .hla-form--fullwidth .content--fullwidth h2 strong {
          font-weight: 600; }
      .hla-form .hla-form--fullwidth .content--fullwidth .checkmark--list {
        margin-top: 4rem;
        margin-bottom: 0; }
        .hla-form .hla-form--fullwidth .content--fullwidth .checkmark--list .media {
          margin-bottom: 2.3rem; }
          .hla-form .hla-form--fullwidth .content--fullwidth .checkmark--list .media h5 {
            color: #ffffff;
            font-size: 1.25rem;
            letter-spacing: 1px; }

.customer-review {
  padding: 5rem .5rem 1rem; }
  .customer-review .customer-review--wrap {
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    position: relative;
    padding: 1.3rem 2rem; }
    .customer-review .customer-review--wrap .review-img {
      position: absolute;
      border-radius: 100%;
      top: -3rem;
      left: 2rem;
      width: 100px;
      height: 100px; }
    .customer-review .customer-review--wrap .review-title {
      text-align: right;
      font-size: 1.75rem;
      font-weight: 400;
      color: #707070;
      margin-bottom: 1rem; }
    .customer-review .customer-review--wrap .review-text {
      font-size: 1.05rem;
      color: #707070; }
    .customer-review .customer-review--wrap .review-person {
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 400; }

@media (max-width: 575.98px) {
  .hla-header .hla-header-white {
    position: relative; }
    .hla-header .hla-header-white.header-big .hla-header--img img {
      height: 320px; }
    .hla-header .hla-header-white .hla-header--img img {
      height: 200px;
      object-position: bottom; }
    .hla-header .hla-header-white .hla-header--text {
      top: 10%; }
      .hla-header .hla-header-white .hla-header--text .header-title {
        font-size: 1.9rem;
        line-height: 1.4; }
  .hla-header .hla-header-main {
    position: relative; }
    .hla-header .hla-header-main.header-big .hla-header--img img {
      height: 320px; }
    .hla-header .hla-header-main .hla-header--img img {
      height: 200px;
      object-position: bottom; }
    .hla-header .hla-header-main .hla-header--text {
      top: 10%; }
      .hla-header .hla-header-main .hla-header--text .header-title {
        font-size: 1.9rem; }
      .hla-header .hla-header-main .hla-header--text .header-subtitle {
        font-size: .9rem; }
  .hla-form {
    padding: 3rem 1rem 2rem;
    position: relative;
    border-bottom: 1px solid #dddddd; }
    .hla-form.form-grey {
      background: #f8f8f8; }
    .hla-form .hla-form--container .form-liner {
      display: none; }
    .hla-form .hla-form--container .form-subtitle {
      display: none; }
    .hla-form .hla-form--container .form-left--side {
      padding: 0;
      border-right: 0; }
    .hla-form .hla-form--container .form-right--side {
      padding: 0; }
    .hla-form .hla-form--container.last .last-container {
      padding: 0; }
    .hla-form .content--fullwidth {
      padding: 12% 5% !important; }
      .hla-form .content--fullwidth h2 {
        line-height: normal !important;
        font-size: 1.9rem !important;
        padding-bottom: 2rem !important; }
      .hla-form .content--fullwidth .checkmark--list {
        margin-top: 2.5rem !important; }
        .hla-form .content--fullwidth .checkmark--list .media {
          margin-bottom: 1.8rem !important; }
          .hla-form .content--fullwidth .checkmark--list .media .green-checkmarks {
            font-size: 1.1rem;
            padding: 1px 8px;
            width: 28px;
            height: 28px; }
          .hla-form .content--fullwidth .checkmark--list .media .media-body h5 {
            font-size: .95rem;
            padding-top: 0; }
  .customer-review {
    display: none; }
  #compareLenderTitle, #compareLenderImg {
    display: none; } }

@media (max-width: 768px) and (orientation: landscape) {
  .hla-header .hla-header-white {
    position: relative; }
    .hla-header .hla-header-white.header-big .hla-header--img img {
      height: 190px; }
    .hla-header .hla-header-white .hla-header--img img {
      height: 150px;
      object-position: bottom; }
    .hla-header .hla-header-white .hla-header--text {
      top: 10%; }
      .hla-header .hla-header-white .hla-header--text .header-title {
        font-size: 1.9rem;
        line-height: 1.4; }
  .hla-header .hla-header-main {
    position: relative; }
    .hla-header .hla-header-main.header-big .hla-header--img img {
      height: 190px; }
    .hla-header .hla-header-main .hla-header--img img {
      height: 150px;
      object-position: bottom; }
    .hla-header .hla-header-main .hla-header--text {
      top: 10%; }
      .hla-header .hla-header-main .hla-header--text .header-title {
        font-size: 1.9rem; }
      .hla-header .hla-header-main .hla-header--text .header-subtitle {
        font-size: .9rem; }
  .hla-form {
    padding: 3rem 1rem 2rem;
    position: relative;
    border-bottom: 1px solid #dddddd; }
    .hla-form.form-grey {
      background: #f8f8f8; }
    .hla-form .hla-form--container .form-liner {
      display: none; }
    .hla-form .hla-form--container .form-subtitle {
      display: none; }
    .hla-form .hla-form--container .form-left--side {
      padding: 0;
      border-right: 0; }
    .hla-form .hla-form--container .form-right--side {
      padding: 0; }
    .hla-form .hla-form--container.last .last-container {
      padding: 0; }
    .hla-form .content--fullwidth {
      padding: 8% 10% !important; }
      .hla-form .content--fullwidth h2 {
        line-height: normal !important;
        font-size: 1.9rem !important;
        padding-bottom: 1rem !important; }
      .hla-form .content--fullwidth .checkmark--list {
        margin-top: 1.5rem !important; }
        .hla-form .content--fullwidth .checkmark--list .media {
          margin-bottom: 1.2rem !important; }
          .hla-form .content--fullwidth .checkmark--list .media .green-checkmarks {
            font-size: 1.1rem;
            padding: 1px 8px;
            width: 28px;
            height: 28px; }
          .hla-form .content--fullwidth .checkmark--list .media .media-body h5 {
            font-size: .95rem;
            padding-top: 0; } }

@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  .hla-form {
    padding: 3rem 1rem 2rem;
    position: relative;
    border-bottom: 1px solid #dddddd; }
    .hla-form.form-grey {
      background: #f8f8f8; }
    .hla-form .hla-form--container .form-right--side {
      padding: 1rem 0 1rem 1rem; }
    .hla-form .hla-form--container.last .last-container {
      padding: 0; }
    .hla-form .content--fullwidth {
      padding: 12% 5% !important; }
      .hla-form .content--fullwidth h2 {
        line-height: normal !important;
        font-size: 1.9rem !important;
        padding-bottom: 2rem !important; }
      .hla-form .content--fullwidth .checkmark--list {
        margin-top: 2.5rem !important; }
        .hla-form .content--fullwidth .checkmark--list .media {
          margin-bottom: 1.8rem !important; }
          .hla-form .content--fullwidth .checkmark--list .media .green-checkmarks {
            font-size: 1.1rem;
            padding: 1px 8px;
            width: 28px;
            height: 28px; }
          .hla-form .content--fullwidth .checkmark--list .media .media-body h5 {
            font-size: .95rem;
            padding-top: 0; }
  .customer-review {
    padding: 3rem .5rem 1rem; }
    .customer-review .customer-review--wrap {
      border: 1px solid #e7e7e7;
      border-radius: 8px;
      position: relative;
      padding: 1rem 1.8rem; }
      .customer-review .customer-review--wrap .review-img {
        position: absolute;
        border-radius: 100%;
        top: -2rem;
        left: 1rem;
        width: 80px;
        height: 80px; }
      .customer-review .customer-review--wrap .review-title {
        text-align: right;
        font-size: 1rem;
        font-weight: 400;
        color: #707070;
        margin-bottom: 1rem; }
      .customer-review .customer-review--wrap .review-text {
        font-size: .8rem;
        color: #707070; }
      .customer-review .customer-review--wrap .review-person {
        margin-top: 1rem;
        font-size: .95rem;
        font-weight: 400; } }

@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
  .customer-review {
    padding: 3rem .5rem 1rem; }
    .customer-review .customer-review--wrap {
      border: 1px solid #e7e7e7;
      border-radius: 8px;
      position: relative;
      padding: 1rem 1.8rem; }
      .customer-review .customer-review--wrap .review-img {
        position: absolute;
        border-radius: 100%;
        top: -3rem;
        left: 1rem;
        width: 100px;
        height: 100px; }
      .customer-review .customer-review--wrap .review-title {
        text-align: right;
        font-size: 1.2rem;
        font-weight: 400;
        color: #707070;
        margin-bottom: 1rem; }
      .customer-review .customer-review--wrap .review-text {
        font-size: 1rem;
        color: #707070; }
      .customer-review .customer-review--wrap .review-person {
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 400; } }
