<template>
	<div>
		<div class="hla-form--container" id="step16">
			<div class="row">
				<div class="col-md-6 form-left--side br-1">
					<h2 class="form-title text-proxima">We've sent an SMS to 0411 871 881</h2>
					<hr class="form-liner" />
					<p class="form-subtitle text-proxima mb-md-5">Please enter your 4 digit verification code, consectetur adipiscing elit. Donec ut lacus nec sapien iaculis vestibulum id in sapien. Proin elementum cursus rutrum. </p>
				</div>
				<div class="col-md-6 form-right--side">
					<div class="input-phone-group d-flex flex-wrap">
						<div class="phone-fill">
							<input 
							v-validate="'required'" 
							type="tel"
							class="phone-one input-text" 
							data-vv-validate-on="blur"
							maxlength="1" 
							id="inputsms1" 
							name="inputsms1" 
							placeholder="#" 
							>
							<span :class="isValid ?'is-valid':'is-invalid'">{{ errors.first('inputsms1') }}</span>
						</div>
						<div class="phone-fill">
							<input 
							v-validate="'required'" 
							type="tel"
							class="phone-one input-text" 
							data-vv-validate-on="blur"
							maxlength="1" 
							id="inputsms2" 
							name="inputsms2" 
							placeholder="#" 
							>
							<span :class="isValid ?'is-valid':'is-invalid'">{{ errors.first('inputsms2') }}</span>
						</div>
						<div class="phone-fill">
							<input 
							v-validate="'required'" 
							type="tel"
							class="phone-one input-text" 
							data-vv-validate-on="blur"
							maxlength="1" 
							id="inputsms3" 
							name="inputsms3" 
							placeholder="#" 
							>
							<span :class="isValid ?'is-valid':'is-invalid'">{{ errors.first('inputsms3') }}</span>
						</div>
						<div class="phone-fill">
							<input 
							v-validate="'required'" 
							type="tel"
							class="phone-one input-text" 
							data-vv-validate-on="blur"
							maxlength="1" 
							id="inputsms4" 
							name="inputsms4" 
							placeholder="#" 
							>
							<span :class="isValid ?'is-valid':'is-invalid'">{{ errors.first('inputsms4') }}</span>
						</div>
					</div>
					<p class="form-info">I didn’t received the verification code yet. Suspendisse potenti. Etiam bibendum nisi quam, ac ornare est <a href="#" v-b-modal.verificationModal class="main-link">Resend. </a></p>
				</div>

			</div>

			<b-modal 
			id="verificationModal" 
			modal-class="hla-modal-verification"
			centered
			hide-footer
			>
			<template slot="modal-header" slot-scope="{ close }">
				<h5 class="modal-title" id="verificationModalTitle">Please re-enter your <strong>phone number</strong></h5>
				<b-button class="close" variant="link" @click="close()">
					<i class="icon ion-md-close"></i>
				</b-button>
			</template>
			<template slot="default" slot-scope="{ hide }">

				<div class="row">
					<div class="col-md-12">
						<p>We will send you an SMS activation code, consectetur adipiscing elit. Donec ut lacus nec sapien iaculis vestibulum id in sapien. Proin elementum cursus rutrum. </p>
						<div class="form-verification">
							<div class="input-icon-group">
								<div class="input-icon--wrap">
									<div class="input-icon">
										<i><img src="/static/img/icon_phone_green-1.png"></i>
									</div>
									<input type="text" id="modalPhone" name="modalPhone" maxlength="40" class="input-text" data-validate="modalPhone" required="" placeholder="Phone number.." data-original-name="modalPhone">
								</div>
								<button 
								@click="hide()"
								class="btn btn-medium btn-block btn-main-liner">
								Done
								</button>
							</div>
						</div>
					</div>
				</div>
			</template>
			</b-modal>

			<div class="row">
				<div class="col-md-12 p-0 mt-md-5">
					<button 
					type="submit" 
					@click.prevent="onSubmit"
					class="btn btn-block btn-medium btn-main-liner submit-btn"
					>
					Next 
					<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { Validator } from 'vee-validate';
import router from '../../../router';

const dict = {
	custom: {
		inputsms1: {
			required: () => 'Please input validation code'
		},
		inputsms2: {
			required: () => 'Please input validation code'
		},
		inputsms3: {
			required: () => 'Please input validation code'
		},
		inputsms4: {
			required: () => 'Please input validation code'
		},
	}
};

Validator.localize('en', dict);

export default {
	name: 'step16',
	data () {
		return {
			cc_limit: '',
			isValid: true,
		}
	},
	methods: {
		showModal() {
			this.$bvModal.show("verificationModal");
		},
		onSubmit() {
			this.save();
		},
		save() {
			this.$validator.validate().then(valid => {
				if (!valid) {
					this.isValid = false
					return
				}
				else {
					this.isValid = true
					router.push('step19');
				}
			});
		}
	}
}
</script>

<style scoped>
	.phone-fill{
		padding-bottom: 0;
	}
	.form-info{
		padding-top: 1rem;
	}
	.is-invalid{

	}
</style>