<template>
	<div>
		<div class="hla-form--container" id="step5">
			<div class="row">
				<div class="col-md-6 form-left--side br-1">
					<h2 class="form-title">Where is this property located?</h2>
					<hr class="form-liner" />
				</div>
				<div class="col-md-6 form-right--side">
					<div class="input-icon-group">
						<div class="input-icon--wrap">
							<div class="input-icon">
								<i class="icon ion-md-pin"></i>
							</div>
							<multiselect 
							v-model="value" 
							id="ajax" 
							name="selectCity"
							track-by="city"
							label="city"
							placeholder="Enter postcode or suburb"
							open-direction="bottom"
							v-validate="'required'"
							class="input-text address"
							:custom-label="nameWithLang"
							:options="data" 
							:loading="isLoading"
							:searchable="true" 
							:clear-on-select="false"
							:internal-search="false" 
							:options-limit="300" 
							:limit="3" 
							@search-change="asyncFind"
							>
							<template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.city }}, {{ option.code }}, {{ option.postal }}</strong></template>
							<span slot="noResult">Oops! No City found. Please change the search query.</span>
							<span slot="noOptions">Type to search..</span>
						</multiselect>
						<span 
						class="is-invalid" 
						v-show="errors.has('selectCity')">
						{{ errors.first('selectCity') }}
					</span>


					<button type="button" class="btn btn-link help-link" data-toggle="tooltip" data-placement="bottom" title="Please input approximate value of the property">
						<i class="input-help icon ion-ios-help-circle"></i>
					</button>
					<button 
					type="button" 
					class="btn btn-link help-link" 
					v-b-tooltip.hover 
					title="Please input where is property located"
					>
					<i class="input-help icon ion-ios-help-circle"></i>
				</button>

			</div>
		</div>
		<p class="form-info">Suspendisse potenti. Etiam bibendum nisi quam, ac ornare est viverra at. Cras pulvinar at ante id semper. In semper orci porttitor enim accumsan,</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 p-0 mt-md-5">
		<button 
		type="submit" 
		@click.prevent="onSubmit"
		class="btn btn-block btn-medium btn-main-liner submit-btn"
		>
		Next 
		<i class="icon ion-ios-arrow-round-forward"></i>
	</button>
</div>
</div>
</div>
</div>
</template>

<script>
import router from '../../../router'
import Multiselect from 'vue-multiselect'
import { Validator } from 'vee-validate'
import { mapState } from 'vuex'
import axios from 'axios'
import { ajaxFindCountry } from '../../../store/countryApi'

const dict = {
	custom: {
		selectCity: {
			required: () => 'Please select the city'
		}
	}
};

Validator.localize('en', dict);

export default {
	name: 'step5',
	components: {
		Multiselect
	},
	data () {
		return {
			value: [],
			isLoading: false,
			data: []
		}
	},
	methods: {
		nameWithLang ({city, code, postal}) {
			return `${city}, ${code} - ${postal}`
		},
		asyncFind (query) {
			this.isLoading = true
			ajaxFindCountry(query).then(response => {
				this.data = response
				this.isLoading = false
			})
		},
		onSubmit() {
			this.save();
		},
		save() {
			this.$validator.validate().then(valid => {
				if (!valid) {
					return
				}
				else {
					router.push('step6');
				}
			});
		}
	},
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>
<style scoped>
.multiselect.input-text {
	width: -webkit-fill-available;
}
</style>