<template>
	<div>
		<div class="hla-form--container" id="step15">
			<div class="row">
				<div class="col-md-6 form-left--side br-1">
					<h2 class="form-title">What is your credit card limit?</h2>
					<hr class="form-liner" />
				</div>
				<div class="col-md-6 form-right--side">
					<div class="input-icon-group">
						<div class="input-icon--wrap">
							<div class="input-icon">
								<i>$</i>
							</div>
							<money
							id="ccLimit" 
							name="ccLimit" 
							v-model="cc_limit"
							v-bind="money"
							maxlength="10"
							class="input-text input-dollar"
							>
							</money>

							<button 
							type="button" 
							class="btn btn-link help-link" 
							v-b-tooltip.hover 
							title="Please input credit card limit"
							>
								<i class="input-help icon ion-ios-help-circle"></i>
							</button>
						</div>
					</div>
					<p class="form-info">Suspendisse potenti. Etiam bibendum nisi quam, ac ornare est viverra at. Cras pulvinar at ante id semper. In semper orci porttitor enim accumsan,</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 p-0 mt-md-5">
					<button 
					type="submit" 
					@click.prevent="onSubmit"
					class="btn btn-block btn-medium btn-main-liner submit-btn"
					>
					Next 
					<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import router from '../../../router';

export default {
	name: 'step15',
	data () {
		return {
			cc_limit: 0,
			money: {
				thousands: ',',
				precision: 0,
				masked: false
			}
		}
	},
	methods: {
		onSubmit() {
			this.save();
		},
		save() {
			if(this.$store.state.havePartner){
				router.push('step16');
			} else{
				router.push('step17');
			}
		}
	}
}
</script>

<style scoped>

</style>