<template>
	<div>
		<div class="hla-form--container" id="step13">
			<div class="row">
				<div class="col-md-6 form-left--side br-1">
					<h2 class="form-title">Do you have any existing non-mortgage debt?</h2>
					<hr class="form-liner" />
				</div>
				<div class="col-md-6 form-right--side">
					<div class="form-radio-wrap">
						<div class="d-flex flex-wrap justify-content-center form-radio-option" data-next="#step14">
							<div class="p-2 flex-fill">
								<input 
								type="radio" 
								class="radio-option" 
								name="yesMortgage" 
								id="yes_mortgage" 
								value="yes_mortgage" 
								v-on:change="clicked"
								v-model="haveMortgage">
								<label 
									for="yes_mortgage" 
									class="btn btn-block btn-mbig btn-outline-grey btn-with-icon radio-option-btn"
									:class="{'active': haveMortgage=='yes_mortgage'}">
									<i class="icon ion-ios-checkmark-circle-outline"></i>
									<strong>Yes</strong>
								</label>
							</div>
							<div class="p-2 flex-fill">
								<input 
								type="radio" 
								class="radio-option" 
								name="noMortgage" 
								id="no_mortgage" 
								value="no_mortgage" 
								v-on:change="clicked"
								v-model="haveMortgage">
								<label 
									for="no_mortgage" 
									class="btn btn-block btn-mbig btn-outline-grey btn-with-icon radio-option-btn"
									:class="{'active': haveMortgage=='no_mortgage'}">
									<i class="icon ion-ios-close-circle-outline"></i>
									<strong>No</strong>
								</label>
							</div>
							
						</div>

					</div>
					<p class="form-info">Suspendisse potenti. Etiam bibendum nisi quam, ac ornare est viverra at. Cras pulvinar at ante id semper. In semper orci porttitor enim accumsan,</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 p-0 mt-md-5">
					<button 
					type="submit" 
					@click.prevent="onSubmit"
					class="btn btn-block btn-medium btn-main-liner submit-btn"
					>
					Next 
					<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import router from '../../../router';

export default {
	name: 'step13',
	data (){
		{
			return {
				haveMortgage: ''
			}
		}
	},
	methods: {
		clicked: function() {
			router.push('step14');
		},
		onSubmit() {
			router.push('step14');
		},
	}
}
</script>

<style scoped>
	.active{
		border-color: #2da89f !important;
	}
	.active span{
		color: #2da89f !important;
	}
</style>