<template>
	<div>
		<div class="hla-form--container" id="step8">
			<div class="row">
				<div class="col-md-6 form-left--side br-1">
					<h2 class="form-title">Do you have a partner?</h2>
					<hr class="form-liner" />
				</div>
				<div class="col-md-6 form-right--side">
					<div class="form-radio-wrap">
						<div class="d-flex flex-wrap justify-content-center form-radio-option">

							<div class="p-2 flex-fill">
								<input 
								type="radio" 
								class="radio-option" 
								name="yesPartner" 
								id="yes_partner" 
								value="yes_partner" 
								v-on:change="clicked"
								v-model="havePartner">
								<label 
									for="yes_partner" 
									class="btn btn-block btn-mbig btn-outline-grey btn-with-icon radio-option-btn"
									:class="{'active': havePartner=='yes_partner'}">
									<i class="icon ion-ios-checkmark-circle-outline"></i>
									<strong>Yes</strong>
								</label>
							</div>
							<div class="p-2 flex-fill">
								<input 
								type="radio" 
								class="radio-option" 
								name="noPartner" 
								id="no_partner" 
								value="no_partner" 
								v-on:change="clicked"
								v-model="havePartner">
								<label 
									for="no_partner" 
									class="btn btn-block btn-mbig btn-outline-grey btn-with-icon radio-option-btn"
									:class="{'active': havePartner=='no_partner'}">
									<i class="icon ion-ios-close-circle-outline"></i>
									<strong>No</strong>
								</label>
							</div>
							
						</div>
					</div>
					<p class="form-info">Suspendisse potenti. Etiam bibendum nisi quam, ac ornare est viverra at. Cras pulvinar at ante id semper. In semper orci porttitor enim accumsan,</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { bus } from '../../../main';
import router from '../../../router';

export default {
	name: 'step8',
	data (){
		{
			return {
				havePartner: ""
			}
		}
	},
	methods: {
		clicked: function() {
			if(this.havePartner == "no_partner"){
				this.$store.commit('changePartnerStatus');
			}
			router.push('step9');
		}
	},
}
</script>

<style scoped>
	.active{
		border-color: #2da89f !important;
	}
	.active span{
		color: #2da89f !important;
	}
</style>