<template>
	<div>
		<div class="hla-form--container" id="step17">
			<div class="row">
				<div class="col-md-7 form-left--side">
					<div class="input-icon-group has-label">
						<label class="input-icon--label">Name</label>
						<div class="input-icon--wrap">
							<div class="input-icon">
								<i><img src="/static/img/icon_people_green.png"></i>
							</div>
							<input 
							v-validate="'required|min:3|max:40'"
							data-vv-validate-on="blur"
							type="text" 
							id="fullname" 
							name="fullname" 
							maxlength="40" 
							class="input-text"
							placeholder="Please enter your name..">
							<span 
							class="is-invalid" 
							v-show="errors.has('fullname')">
							{{ errors.first('fullname') }}
							</span>

							<button 
							type="button" 
							class="btn btn-link help-link" 
							v-b-tooltip.hover 
							title="Please input your fullname"
							>
								<i class="input-help icon ion-ios-help-circle"></i>
							</button>
						</div>
					</div>
					<div class="input-icon-group has-label-info">
						<label class="input-icon--label">Phone Number</label>
						<div class="input-icon--wrap">
							<div class="input-icon">
								<i><img src="/static/img/icon_phone_green.png"></i>
							</div>
							<input 
							v-validate="'required|min:3|max:12'"
							data-vv-validate-on="blur"
							type="tel" 
							id="phoneNumber" 
							name="phoneNumber" 
							maxlength="12" 
							class="input-text" 
							placeholder="Please enter a valid Phone number..">
							<span 
							class="is-invalid" 
							v-show="errors.has('phoneNumber')">
							{{ errors.first('phoneNumber') }}
							</span>

							<button 
							type="button" 
							class="btn btn-link help-link" 
							v-b-tooltip.hover 
							title="Please input your phone number"
							>
								<i class="input-help icon ion-ios-help-circle"></i>
							</button>
						</div>
						<p class="form-info text-sm">Please enter a valid mobile number so that we can SMS a verification code to you</p>
					</div>
					<div class="input-icon-group has-label">
						<label class="input-icon--label">Email Address</label>
						<div class="input-icon--wrap">
							<div class="input-icon">
								<i><img src="/static/img/icon_envelope_green.png"></i>
							</div>
							<input 
							v-validate="'required|email'"
							data-vv-validate-on="blur"
							type="email" 
							id="emailForm" 
							name="emailForm" 
							class="input-text" 
							placeholder="Please enter a valid Email address..">
							<span 
							class="is-invalid" 
							v-show="errors.has('emailForm')">
							{{ errors.first('emailForm') }}
							</span>

							<button 
							type="button" 
							class="btn btn-link help-link" 
							v-b-tooltip.hover 
							title="Please input your email address"
							>
								<i class="input-help icon ion-ios-help-circle"></i>
							</button>
						</div>
					</div>
					<div class="input-icon-group has-label mb-md-3">
						<label class="input-icon--label">Postcode</label>

						<div class="input-icon--wrap">
							<div class="input-icon">
								<i><img src="/static/img/icon_marker_green.png"></i>
							</div>
							<multiselect 
							v-model="cityLive" 
							id="ajax" 
							name="selectCityLive"
							track-by="city"
							label="city"
							placeholder="Enter postcode or suburb"
							open-direction="bottom"
							v-validate="'required'"
							class="input-text address"
							:custom-label="cityFulldata"
							:options="cityData" 
							:loading="isLoading"
							:searchable="true" 
							:internal-search="false" 
							:clear-on-select="false"
							:options-limit="300" 
							:limit="3" 
							@search-change="asyncFind"
							>
								<template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.city }}, {{ option.code }}, {{ option.postal }}</strong></template>
								<span slot="noResult">Oops! No City found. Please change the search query.</span>
								<span slot="noOptions">Type to search..</span>
							</multiselect>
							<span 
							class="is-invalid" 
							v-show="errors.has('selectCityLive')">
							{{ errors.first('selectCityLive') }}
							</span>

							<button type="button" class="btn btn-link help-link" data-toggle="tooltip" data-placement="bottom" title="Please input approximate value of the property">
								<i class="input-help icon ion-ios-help-circle"></i>
							</button>
						</div>
					</div>
					<div class="form-checkbox mb-md-2">
						<input 
						v-validate="'required'"
						class="form-checkbox-input" 
						type="checkbox"
						name="checkboxAcknowledge"
						id="checkbox" />
						<label class="form-checkbox-label" for="checkbox">
							<div class="checkbox-label-wrap"><span class="checkbox-label"></span></div>
							<span class="form-checkbox-text">I acknowledge a home loans consultant will contact me</span>
						</label>
						<span 
						class="is-invalid" 
						v-show="errors.has('checkboxAcknowledge')">
						{{ errors.first('checkboxAcknowledge') }}
						</span>
					</div>

					<button 
					type="submit" 
					@click.prevent="onSubmit"
					class="btn btn-block btn-medium btn-main-liner submit-btn mb-3">
					Get My Deal 
					<i class="icon ion-ios-arrow-round-forward"></i>
					</button>

					<p class="form-help">*By submitting the enquiry, I acknowledge receipt of <a href="#" class="form-link">eChoice’s Credit Guide</a>, <a href="#" class="form-link">Privacy Policy</a> & <a href="#" class="form-link">Privacy Disclosure Statement</a>.</p>
				</div>
				<div class="col-md-5 form-right--side">
					<h2 class="section-title mb-4" style="font-size: 1.6rem" id="compareLenderTitle">Compare 25+ Lenders</h2>
					<img src="/static/img/lender_logo.png" class="mb-md-2" id="compareLenderImg" width="100%">
					<hr />
					<div class="row customer-review">
						<div class="col-md-12">
							<div class="customer-review--wrap">
								<img src="/static/img/review_person.png" class="review-img">
								<h4 class="review-title">Customer <strong>Review</strong></h4>
								<p class="review-text">As a first home buyer I was so nervous about the whole process but my eChoice broker's calm and reassuring manner throughout gave me sense of security and made things so much smoother than I could have imagined.</p>
								<h5 class="review-person">Claire, Victoria</h5>
							</div>
						</div>
					</div>
					<img src="/static/img/powered_logo.png" width="100%">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import router from '../../../router'
import Multiselect from 'vue-multiselect'
import { Validator } from 'vee-validate'
import { ajaxFindCountry } from '../../../store/countryApi'

const dict = {
	custom: {
		fullname: {
			required: () => 'Please enter fullname',
			min: () => 'Minimum 3 Character'
		},
		phoneNumber: {
			required: () => 'Please input your phone number'
		},
		emailForm: {
			required: () => 'Please input your email',
			email: () => 'Please input your valid email'
		},
		selectCityLive: {
			required: () => 'Please select the city'
		},
		checkboxAcknowledge: {
			required: () => "Don't forget to check this acknowledge"
		},
	}
};

Validator.localize('en', dict);
export default {
	name: 'step17',
	components: {
		Multiselect
	},
	data () {
		return {
			cityLive: [],
			isLoading: false,
			cityData: []
		}
	},
	methods: {
		cityFulldata ({city, code, postal}) {
			return `${city}, ${code}, ${postal}`
		},
		asyncFind (query) {
			this.isLoading = true
			ajaxFindCountry(query).then(response => {
				this.cityData = response
				this.isLoading = false
			})
		},
		onSubmit() {
			this.save();
		},
		save() {
			this.$validator.validate().then(valid => {
				if (!valid) {
					return
				}
				else {
					router.push('step18');
				}
			});
		}
	}
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>
<style scoped>
.multiselect.input-text {
	width: -webkit-fill-available !important;
}
</style>