<template>
	<div>
		<div class="hla-form--fullwidth" id="step2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="content--fullwidth">
							<h2>Ok. There are <strong>3 steps</strong> from here.</h2>
							<ul class="list-unstyled checkmark--list mb-5">
								<li class="media">
									<i class="green-checkmarks icon ion-md-checkmark mr-3"></i>
									<div class="media-body">
										<h5>Calculate what you need</h5>
									</div>
								</li>
								<li class="media">
									<i class="green-checkmarks icon ion-md-checkmark mr-3"></i>
									<div class="media-body">
										<h5>Search Australia's biggest banks</h5>
									</div>
								</li>
								<li class="media">
									<i class="green-checkmarks icon ion-md-checkmark mr-3"></i>
									<div class="media-body">
										<h5>Find the right loans for you</h5>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'step2',
	created(){
		setTimeout( () => this.$router.push({ path: '/purchase/step3'}), 5000);

	}

}
</script>

<style scoped>

</style>
