<template>
	<div>
		<div class="hla-form--container last" id="step18">
			<!-- Personalised Loan -->
			<div class="row mb-md-5">
				<div class="col-md-12 last-container">

					<div class="accordion hla-accordion" id="personalised-loan">
						<div class="card hla-accordion-card">
							<div class="card-header hla-accordion-card--header" id="personalised-loan-snapshot">
								<button 
								class="btn btn-link btn-block hla-accordion-button" 
								type="button" 
								v-b-toggle.loanSnapshot>
									<strong>Personalised</strong> Loan snapshot
									<span class="btn btn-link hla-accordion-icon"><i class="icon icon-arrow"></i></span>
								</button>
							</div>

							<b-collapse 
							id="loanSnapshot" 
							class="collapse show accordion-collapse" 
							visible 
							accordion="loanSnapshot">
								<div class="card-body hla-accordion-card--body hla-loan-result-container">
									<div class="row">
										<div class="col-md-6">
											<div class="hla-loan-result d-flex flex-row">
												<radial-progress-bar 
												:diameter="200"
												:completed-steps="completedsteps"
												:total-steps="totalsteps"
												:strokeWidth="15"
												startColor="#ffa33e"
												stopColor="#ffbe3e"
												innerStrokeColor="#eeeeee">
													<div id="borrowResultContainer" class="loan-result--chart">
														<div class="inside-content content-borrow">
															<p class="inside-title">Borrowing Capacity</p>
															<div class="max-loan-round loan-borrow">$1.355m</div>
														</div>
													</div>
												</radial-progress-bar>
												<div class="loan-result--info">
													<h2 class="chart-title title-borrow">Maximum <br>Borrowing Capacity</h2>
													<h3 class="loan-price loan-borrow">$1,355,041</h3>
													<p class="loan-info">77% of Aliquam vehicula diam congue ornare.</p>
												</div>

											</div>
										</div>
										<div class="col-md-6">
											<div class="hla-loan-result d-flex flex-row">
												<radial-progress-bar 
												:diameter="200"
												:completed-steps="completedstepsLoan"
												:total-steps="totalsteps"
												:strokeWidth="15"
												startColor="#5ccb0e"
												stopColor="#aacb0e"
												innerStrokeColor="#eeeeee">
													<div id="loanResultContainer" class="loan-result--chart">
														<div class="inside-content content-loan">
															<span class="inside-title">Loan Amount</span>
															<div class="max-loan-round loan-ammount">$504,778</div>
														</div>
													</div>
												</radial-progress-bar>
												<div class="loan-result--info">
													<h2 class="chart-title title-loan">Loan Amount</h2>
													<h3 class="loan-price loan-ammount">$504,778</h3>
													<p class="loan-info">97% of Aliquam vehicula diam congue ornare.</p>
												</div>

											</div>
										</div>
									</div>
								</div>
							</b-collapse>
						</div>
					</div>

				</div>
			</div>
			<!-- Loan Details -->
			<div class="row mb-md-5">
				<div class="col-md-12 last-container">

					<div class="accordion hla-accordion" id="loan-details">
						<div class="card hla-accordion-card">
							<div class="card-header hla-accordion-card--header" id="loan-details-snapshot">
								<button 
								class="btn btn-link btn-block hla-accordion-button" 
								type="button" 
								v-b-toggle.loanDetails>
									<strong>Loan</strong> Details
									<span class="btn btn-link hla-accordion-icon"><i class="icon icon-arrow"></i></span>
								</button>
							</div>

							<b-collapse
								id="loanDetails" 
								class="collapse show accordion-collapse" 
								visible 
								accordion="loanDetails">
								<div class="card-body hla-accordion-card--body hla-loan-result-container p-0">
									<div class="row loan-result-details">
										<div class="col-md-6 br-1">
											<div class="media loan-details--wrap p-md-4 pb-md-5">
												<img src="/static/img/icon_speech_buble.png" class="mr-3" alt="Estimated monthly repayments">
												<div class="media-body loan-details--info">
													<h5 class="my-0">Your estimated monthly repayments</h5>
													<h3><strong>$2,427.</strong>61</h3>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="media loan-details--wrap p-md-4 pb-md-5">
												<img src="/static/img/icon_percentage.png" class="mr-3" alt="Estimated interest rate">
												<div class="media-body loan-details--info">
													<h5 class="my-0">Your estimated interest rate</h5>
													<h3><strong>4.14%</strong></h3>
												</div>
											</div>
										</div>
									</div>
								</div>
							</b-collapse>
						</div>
					</div>

				</div>
			</div>
			<!-- What Next -->
			<div class="row mb-md-5">
				<div class="col-md-12 last-container">
					<div class="accordion hla-accordion" id="what-next">
						<div class="card hla-accordion-card">
							<div class="card-header hla-accordion-card--header" id="what-next-snapshot">
								<button 
								class="btn btn-link btn-block hla-accordion-button collapsed" 
								type="button" 
								v-b-toggle.whatNext>
									<strong>What</strong> happens next?
									<span class="btn btn-link hla-accordion-icon"><i class="icon icon-arrow"></i></span>
								</button>
							</div>

							<b-collapse 
							id="whatNext" 
							class="collapse accordion-collapse"
							accordion="whatNext"
							>
								<div class="card-body hla-accordion-card--body hla-loan-result-container">
									<div class="row">
										<div class="col-md-12">
											<img src="/static/img/what_next_img.png" width="100%">
										</div>
									</div>
								</div>
							</b-collapse>
						</div>
					</div>

				</div>
			</div>

			<div class="row mb-md-5">
				<div class="col-md-6 last-container">

					<div class="accordion hla-accordion" id="disclaimer-parent">
						<div class="card hla-accordion-card">
							<div class="card-header hla-accordion-card--header" id="disclaimer-snapshot">
								<button 
								class="btn btn-link btn-block hla-accordion-button collapsed" 
								type="button" data-toggle="collapse"
								v-b-toggle.disclaimer>
									<strong>Disclaimer</strong>
									<span class="btn btn-link hla-accordion-icon"><i class="icon icon-arrow"></i></span>
								</button>
							</div>

							<b-collapse  
							id="disclaimer" 
							class="collapse accordion-collapse" 
							accordion="disclaimer">
								<div class="card-body hla-accordion-card--body hla-loan-result-container">
									<div class="row">
										<div class="col-md-12">
											<p class="loan-disclaimer font-italic">These results are based on the information provided and do not constitute financial advice. This report acts as a guide in determining the interest rate available based on your search criteria and lender panel (powered by ACL 385888). There may be other factors that you have not disclosed to us that may affect your results, including "Your Interest Rate". These results do not constitute any individual product listing. These results may vary and may not be available from the lender who makes contact with you. </p>
											<p class="loan-disclaimer font-italic">Terms &amp; Conditions Apply: These results are powered by Finconnect (Australia) Pty Ltd, ABN 45 122 896 477, Australian Credit License 385888, a wholly owned subsidiary of Commonwealth Bank of Australia ABN 48 123 123 124. Finconnect and its partners will receive a fee for this referral. We endeavour to ensure the information and data published is current and accurate. You should confirm any information with the product or service provider. If you are unsure, we recommend you seek independent advice.</p>
											<p class="loan-disclaimer font-italic">WARNING: Estimated interest rate is based on a loan of $150,000 for a term of 25 years. This rate applies only to the example or examples given. Different amounts and terms will result in different estimated rates. Costs such as redraw fees or early repayment fees, and cost savings such as fee waivers, are not included in the comparison rate but may influence the cost of the loan. Terms and conditions, fees and charges apply. Interest rates for existing borrowers may vary to the advertised rate on this website. Interest rate is correct as at last update.</p>
										</div>
									</div>
								</div>
							</b-collapse>
						</div>
					</div>

				</div>
				<div class="col-md-6 last-container">

					<div class="accordion hla-accordion" id="home-faq-parent">
						<div class="card hla-accordion-card">
							<div class="card-header hla-accordion-card--header" id="home-faq-snapshot">
								<button 
								class="btn btn-link btn-block hla-accordion-button collapsed" 
								type="button"
								v-b-toggle.home-faq>
									<strong>Home</strong> Buying FAQs
									<span class="btn btn-link hla-accordion-icon"><i class="icon icon-arrow"></i></span>
								</button>
							</div>

							<b-collapse 
							id="home-faq" 
							class="collapse accordion-collapse"
							accordion="home-faq">
								<div class="card-body hla-accordion-card--body hla-loan-result-container">
									<div class="row">
										<div class="col-md-12">
											<p>Buying a home is often an exciting experience. But, if you don’t understand the process and the mortgage industry, then it can also be daunting and even a little scary. In order to help you avoid some common mistakes that first home buyers make, we’ve answered some of the most frequently asked questions.</p>
										</div>
									</div>
								</div>
							</b-collapse>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</template>

<script>
import RadialProgressBar from 'vue-radial-progress';

export default {
	name: 'step18',
	data () {
		return {
			completedsteps: 8,
			completedstepsLoan: 3,
			totalsteps: 10
		}
	},
	components: {
		RadialProgressBar
	},
}
</script>

<style scoped>

</style>
