<template>
	<div>
		<div class="hla-form--container">

			<div class="row">
				<div class="col-md-6 form-left--side br-1">
					<h2 class="form-title">What is the approximate value of the property you are looking to buy?</h2>
					<hr class="form-liner" />
				</div>
				<div class="col-md-6 form-right--side">
					<div class="input-icon-group">
						<div class="input-icon--wrap">
							<div class="input-icon">
								<i>$</i>
							</div>
							<money
							id="purchaseInput" 
							name="purchaseInput" 
							v-model="price"
							v-bind="money"
							v-validate="'required|min_value:100000|max:10'"
							data-vv-validate-on="blur"
							maxlength="10"
							class="input-text input-dollar"
							>
							</money>
							<span 
							class="is-invalid" 
							v-show="errors.has('purchaseInput')">
							{{ errors.first('purchaseInput') }}
							</span>

							<button 
							type="button" 
							class="btn btn-link help-link" 
							v-b-tooltip.hover 
							title="Please input approximate value of the property"
							>
								<i class="input-help icon ion-ios-help-circle"></i>
							</button>
						</div>
					</div>
					<p class="form-info">Suspendisse potenti. Etiam bibendum nisi quam, ac ornare est viverra at. Cras pulvinar at ante id semper. In semper orci porttitor enim accumsan,</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 p-0 mt-md-5">
					<button 
					type="submit" 
					@click.prevent="onSubmit"
					class="btn btn-block btn-medium btn-main-liner submit-btn"
					>
					Next 
					<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { Validator } from 'vee-validate';
import router from '../../../router';

const dict = {
	custom: {
		purchaseInput: {
			min_value: () => 'Minimum value property $100,000',
			required: () => 'This field required'
		}
	}
};

Validator.localize('en', dict);

export default {
	name: 'step4',
	data () {
		return {
			price: 0,
			money: {
				thousands: ',',
				precision: 0,
				masked: false
			}
		}
	},
	methods: {
		onSubmit() {
			this.save();
		},
		save() {
			this.$validator.validate().then(valid => {
				if (!valid) {
					return
				}
				else {
					router.push('step5');
				}
			});
		}
	}
}
</script>

<style scoped>

</style>
