<template>
	<div>
		<div class="hla-form--container" id="step6">
			<div class="row">
				<div class="col-md-6 form-left--side br-1">
					<h2 class="form-title">How much would you like to borrow?</h2>
					<hr class="form-liner" />
				</div>
				<div class="col-md-6 form-right--side">
					<div class="input-icon-group">
						<div class="input-icon--wrap">
							<div class="input-icon">
								<i>$</i>
							</div>
							<money
							id="borrowSum" 
							name="borrowSum" 
							v-model="price"
							v-bind="money"
							v-validate="'required|min_value:50000|max:10'"
							data-vv-validate-on="blur"
							maxlength="10"
							class="input-text input-dollar"
							>
							</money>
							<span :class="isValid ?'is-valid':'is-invalid'">{{ errors.first('borrowSum') }}</span>

							<button 
							type="button" 
							class="btn btn-link help-link" 
							v-b-tooltip.hover 
							title="Please input how much would you like to borrow"
							>
								<i class="input-help icon ion-ios-help-circle"></i>
							</button>
						</div>
					</div>
					<p class="form-info">Suspendisse potenti. Etiam bibendum nisi quam, ac ornare est viverra at. Cras pulvinar at ante id semper. In semper orci porttitor enim accumsan,</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 p-0 mt-md-5">
					<button 
					type="submit" 
					@click.prevent="onSubmit"
					class="btn btn-block btn-medium btn-main-liner submit-btn"
					>
					Next 
					<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { bus } from '../../../main';
import { Validator } from 'vee-validate';
import router from '../../../router';

const dict = {
	custom: {
		borrowSum: {
			min_value: () => 'Minimum you borrow $50,000',
			required: () => 'This field required'
		}
	}
};

Validator.localize('en', dict);

export default {
	name: 'step6',
	data () {
		return {
			price: 0,
			isValid: true,
			money: {
				thousands: ',',
				precision: 0,
				masked: false
			}
		}
	},
	methods: {
		onSubmit() {
			this.save();
		},
		save() {
			this.$validator.validate().then(valid => {
				if (!valid) {
					this.isValid = false
					return
				}
				else {
					this.isValid = true
					router.push('step7');
				}
			});
		}
	}
}
</script>

<style scoped>

</style>
