<template>
	<div>
		<div class="hla-form--container" id="step9">
			<div class="row">
				<div class="col-md-6 form-left--side br-1">
					<h2 class="form-title">What is your employment status?</h2>
					<hr class="form-liner" />
					<p class="form-subtitle mb-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at risus fringilla arcu efficitur tincidunt. Aliquam non suscipit erat, vel condimentum felis. Mauris erat eros, ornare non ultricies tempor, feugiat finibus eros.</p>
				</div>
				<div class="col-md-6 form-right--side">
					<div class="form-radio-wrap">
						<div class="form-radio-option">
							<input 
							type="radio" 
							class="radio-option" 
							name="employee_status" 
							id="employeeFullTime" 
							value="employee_full_time" 
							v-on:change="clicked"
							@click="clicked"
							v-model="employeeStatus">
							<label 
								for="employeeFullTime" 
								class="btn btn-block btn-big btn-outline-grey btn-with-image radio-option-btn"
								:class="{'active': employeeStatus=='employee_full_time'}">
								<img src="/static/img/icon_employee_fulltime_green.png">
								<span><strong>Full</strong> time</span>
							</label>

							<input 
							type="radio" 
							class="radio-option" 
							name="employee_status" 
							id="employeePartTime" 
							value="employee_half_time" 
							v-on:change="clicked"
							@click="clicked"
							v-model="employeeStatus">
							<label 
								for="employeePartTime" 
								class="btn btn-block btn-big btn-outline-grey btn-with-image radio-option-btn"
								:class="{'active': employeeStatus=='employee_half_time'}">
								<img src="/static/img/icon_employee_partitime_green.png">
								<span><strong>Part</strong> time</span>
							</label>

							<input 
							type="radio" 
							class="radio-option" 
							name="employee_status" 
							id="selfEmployed" 
							value="employee_self" 
							v-on:change="clicked"
							@click="clicked"
							v-model="employeeStatus">
							<label 
								for="selfEmployed" 
								class="btn btn-block btn-big btn-outline-grey btn-with-image radio-option-btn"
								:class="{'active': employeeStatus=='employee_self'}">
								<img src="/static/img/icon_employee_self_green.png">
								<span><strong>Self</strong> employed</span>
							</label>

							<input 
							type="radio" 
							class="radio-option" 
							name="employee_status" 
							id="otherEmployee" 
							value="employee_other" 
							v-on:change="clicked"
							@click="clicked"
							v-model="employeeStatus">
							<label 
								for="otherEmployee" 
								class="btn btn-block btn-big btn-outline-grey btn-with-image radio-option-btn"
								:class="{'active': employeeStatus=='employee_other'}">
								<img src="/static/img/icon_employee_other_green.png">
								<span><strong>Other</strong></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { bus } from '../../../main';
import router from '../../../router';

export default {
	name: 'step9',
	data (){
		{
			return {
				employeeStatus: '',
			}
		}
	},
	methods: {
		clicked: function() {
			if(this.$store.state.havePartner){
				router.push('step10');
			} else{
				router.push('step11');
			}
		}
	},
}
</script>

<style scoped>
	.active{
		border-color: #2da89f !important;
	}
	.active span{
		color: #2da89f !important;
	}
</style>