<template>
	<div>
		<div class="hla-form--container" id="step7">
			<div class="row">
				<div class="col-md-6 form-left--side br-1">
					<h2 class="form-title">When are you looking to buy?</h2>
					<hr class="form-liner" />
					<p class="form-subtitle mb-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at risus fringilla arcu efficitur tincidunt. Aliquam non suscipit erat, vel condimentum felis. Mauris erat eros, ornare non ultricies tempor, feugiat finibus eros.</p>
				</div>
				<div class="col-md-6 form-right--side">
					<div class="form-radio-wrap">
						<div class="form-radio-option">
							<input 
							type="radio" 
							class="radio-option" 
							name="whenBuy" 
							id="withinHalfYear" 
							value="withinHalfYear" 
							v-on:change="clicked"
							@click="clicked"
							v-model="timeBuy">
							<label 
								for="withinHalfYear" 
								class="btn btn-block btn-big btn-outline-grey btn-with-image radio-option-btn"
								:class="{'active': timeBuy=='withinHalfYear'}">
								<img src="/static/img/icon_house_green.png">
								<span>Within the <strong>next 6 months</strong></span>
							</label>

							<input 
							type="radio" 
							class="radio-option" 
							name="whenBuy" 
							id="moreThanYear" 
							value="moreThanYear" 
							v-on:change="clicked" 
							@click="clicked"
							v-model="timeBuy">
							<label 
								for="moreThanYear" 
								class="btn btn-block btn-big btn-outline-grey btn-with-image radio-option-btn"
								:class="{'active': timeBuy=='moreThanYear'}">
								<img src="/static/img/icon_wallet_green.png">
								<span>Within <strong>6-18 months</strong></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { bus } from '../../../main';
import router from '../../../router';

export default {
	name: 'step7',
	data (){
		{
			return {
				timeBuy: ''
			}
		}
	},
	methods: {
		clicked: function() {
			router.push('step8');
		}
	}
}
</script>

<style scoped>
	.active{
		border-color: #2da89f !important;
	}
	.active span{
		color: #2da89f !important;
	}
</style>
