<template>
	<div>
		<div class="hla-form--container" id="step11">
			<div class="row">
				<div class="col-md-6 form-left--side br-1">
					<h2 class="form-title">What's your gross (i.e pre-tax) annual income?</h2>
					<hr class="form-liner" />
				</div>
				<div class="col-md-6 form-right--side">
					<div class="input-icon-group">
						<div class="input-icon--wrap">
							<div class="input-icon">
								<i>$</i>
							</div>
							<money
							name="grossAnnual" 
							v-model="gross_annual"
							v-bind="money"
							v-validate="'required|min_value:1'"
							data-vv-validate-on="blur"
							maxlength="10"
							class="input-text input-dollar"
							@blur.native="onSubmit"
							required
							>
						</money>
						<span 
						class="is-invalid" 
						v-show="errors.has('grossAnnual')">
						{{ errors.first('grossAnnual') }}
					</span>

					<button 
					type="button" 
					class="btn btn-link help-link" 
					v-b-tooltip.hover 
					title="Please input gross annual income"
					>
					<i class="input-help icon ion-ios-help-circle"></i>
				</button>
			</div>
		</div>
		<p class="form-info">Suspendisse potenti. Etiam bibendum nisi quam, ac ornare est viverra at. Cras pulvinar at ante id semper. In semper orci porttitor enim accumsan,</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 p-0 mt-md-5">
		<button 
		type="submit" 
		@click.prevent="onSubmit"
		class="btn btn-block btn-medium btn-main-liner submit-btn"
		>
		Next 
		<i class="icon ion-ios-arrow-round-forward"></i>
	</button>
</div>
</div>
</div>
</div>
</template>

<script>
import { Validator } from 'vee-validate';
import router from '../../../router';

const dict = {
	custom: {
		grossAnnual: {
			required: () => 'This field required',
			min_value: () => 'Please input your gross annual income'
		}
	}
};

Validator.localize('en', dict);

export default {
	name: 'step11',
	data () {
		return {
			gross_annual: 0,
			money: {
				thousands: ',',
				precision: 0,
				masked: false
			}
		}
	},
	methods: {
		onSubmit() {
			this.save();
		},
		save() {
			this.$validator.validate().then(valid => {
				if(this.gross_annual != 0 && valid && this.$store.state.havePartner){
					router.push('step12');
				} else if(this.gross_annual != 0 && valid && !this.$store.state.havePartner){
					router.push('step13');
				}
			});
		}
	}
}
</script>

<style scoped>

</style>