<template>
	<footer>
		<section class="hla-footer py-5">
			<div class="container d-flex flex-wrap">

				<div class="row order-3 order-sm-1 order-md-1 flex-fill footer--link">
					<div class="col-md-12">
						<ul class="link--menu">
							<li><a href="#">About Us</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>

				<div class="row order-1 order-sm-2 order-md-2 flex-fill footer--text">
					<div class="col-md-12">
						<p class="mb-4">The information on this Website is provided for information purposes, general interest and enquiry only. It has been prepared without taking into account your objectives, financial situation or particular needs and it should not be taken as financial advice. All comparisons are prepared by eChoice.com.au Pty Ltd. eChoice.com.au Pty Ltd (ABN 59 082 572 683 Australian Credit Licence 390528). While we use reasonable efforts to ensure that the information on this Website is complete and up to date, to the extent permitted by law, we make no warranty or representation as to the accuracy, currency or completeness of any information on this Website.</p>

						<p>The use of this Website is at your own risk. Information may change without notice. Before relying on any information on this Website, you should first verify the accuracy of the information and its relevance. This may mean contacting a finance broker before relying on any information on this Website.</p>
					</div>
				</div>

				<div class="row order-2 order-sm-3 order-md-3 flex-fill footer--info pt-2">
					<div class="col-md-4 info--img">
						<img src="/static/img/logo_sm.png">
					</div>
					<div class="col-md-8 info--text">
						<p>724-728 George St, Sydney, New South Wales 2000</p>
					</div>
				</div>
			</div>
		</section>
	</footer>
</template>

<script>
export default {
	name: 'HomeFooter'
}
</script>

<style scoped>

</style>
