<template>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar hla-navbar py-4 px-0">
						<router-link to="/">
							<a class="navbar-brand"><img src="/static/img/logo.png" class="d-inline-block align-top" alt=""></a>
						</router-link>
						<div class="navbar-right navbar--call">
							<a href="tel:+1300190429" class="btn-call">
								<i class="icon ion-md-call"></i>
							</a>
							<div class="call--text">
								<p>HELP CENTER. (8AM-7PM MON-FRI)</p>
								<a href="tel:+1300190429">1300 190 429</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	name: 'HomeHeader'
};
</script>

<style scoped>

</style>
