<template>
	<div>
		<main-header></main-header>
		<section class="hla-header">
			<purchase-hero :title="title" :subtitle="subtitle"></purchase-hero>
			<purchase-slider :stepProgress="stepProgress"></purchase-slider>
		</section>

		<section class="hla-form">
			<div class="container">
				<form id="hla-input" novalidate>
					<transition name="fade" mode="out-in">
						<keep-alive>
							<router-view></router-view>
						</keep-alive>
					</transition>
				</form>
			</div>
		</section>
		<main-footer></main-footer>
	</div>
</template>

<script>
import { bus } from '../../main';
import { mapState } from 'vuex';

export default {
	name: 'PurchaseLayout',
	data() {
		return{
			title: "",
			subtitle: "",
			headerWhite: true,
			stepProgress:"",
			havePartner: ""
		}
	},
	components: {
		'main-header': () => import('../base/MainHeader'),
		'purchase-hero': () => import('./PurchaseHero'),
		'purchase-slider': () => import('./PurchaseSlider'),
		'main-footer': () => import('../base/MainFooter')
	},  
	watch: {'$route' (to, from) {
		const tostep = to.path.split('/purchase/step').pop();
		const fromstep = from.path.split('/purchase/step').pop();
		const step_percent = 100 / 19;
		const stepProgress = (tostep) * step_percent + '%';
		if (fromstep <= 2){
			this.stepProgress = "0%";
		}
		if (tostep == 17) {
			bus.$emit('headerWhite', false);
			bus.$emit('headerBig', true);
		} else if( tostep == 19){
			bus.$emit('headerWhite', false);
			bus.$emit('headerBig', false);
		} else {
			bus.$emit('headerWhite', true);
			bus.$emit('headerBig', false);
		}
		bus.$emit('changeWidth', stepProgress);
	}}
}
</script>

<style scoped>

</style>
