<template>
	<div>
		<div :class="{'hla-header-white': headerWhite, 'hla-header-main': !headerWhite, 'header-big': headerBig}">
			<div class="container-fluid hla-header--img">
				<div class="row">
					<div class="col-md-12 p-0">
						<img src="/static/img/header_form.png" v-if="headerWhite" width="100%">
						<img src="/static/img/hero_bgr.png" v-else width="100%">
					</div>
				</div>
			</div>
			<div class="container hla-header--text">
				<div class="row">
					<div class="col-md-12">
						<h1 id="header-title" class="header-title" :class="{'text-white': !headerWhite, 'text-main': headerWhite}" v-html="$route.meta.title">
						</h1>
						<h1 id="header-subtitle" class="header-subtitle" :class="{'text-white': !headerWhite, 'text-main': headerWhite}" v-html="$route.meta.subtitle"></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { bus } from '../../main';
export default {
	name: 'PurchaseHero',
	data () {
		return{
			headerWhite: true,
			headerBig: false
		}
	},
	created () {
		bus.$on('headerWhite', (data) => {
			if(!data){
				this.headerWhite = data;
			}else{
				this.headerWhite = true;
			}
		});
		bus.$on('headerBig', (data) => {
			if(data){
				this.headerBig = data;
			} else{
				this.headerBig = false;
			}
		});
	}
}
</script>

<style scoped>

</style>
