<template>
	<div>
		<div class="container-fluid hla-header--progress progress">
			<div class="progress-container">
				<div class="progress-bar" :style="{ width: progressWidth }" role="progressbar">
					<span></span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { bus } from '../../main';
export default {
	name: 'PurchaseSlider',
	data () {
		return{
			progressWidth: "10%"
		}
	},
	created () {
		bus.$on('changeWidth', (data) => {
			if (data != undefined){
				this.progressWidth = data;
			}
		});
	}
}
</script>

<style scoped>

</style>
